.map_slt{
  background: red;
  color: red;
  }
  .input-with-select .el-input-group__prepend {
    background-color: #fff;
  }
  .res_slt{
    margin-left:-10px;padding-top:30px;width:240px;border:none;
    position:relative; z-index:66;
  }
  .pagenum{
    position:fixed;bottom:10px;margin-left:22px;
    color:#fff;
    font-family: "微软雅黑";
    /* border:2px solid #3CBFA5;
    background: #3A254F;
    border-radius: 5px; */
  }
  .pagenum_btn{
    font-weight:bold;text-decoration: none;color:#fff;
  
  }
  .el-pagination__total{
    color:#fff;
  } 
  .el-pagination__jump{
    color:#fff;
  } 
  .el-pagination__editor{
    color:#000;
    border-radius: 0px;
  }
  .an{
    text-decoration: none;
  }
  
  .map_btn_f{
    background:#000;margin-top:100px;
  }
  .map_btn{
    background:#000;margin-top:10px;margin-left:0px;
  }
  .menu-box-main{
    overflow:auto;
    max-height:410px;
  }
  .menu-box-main::-webkit-scrollbar {
    display:none;
  }
  .el-collapse-item__header {
    height: 25px;
    line-height: 25px;
    padding-left: 0; 
    text-align: center;
    font-size: 12px;
  }
  .bx {
    height: 60px;
  }
  .el-card__header {
    padding: 5px 10px;
    border-bottom: none;
  }
  .el-card__body div {
    padding: 0 10px;
  }
  .el-card__body div:last-child {
    padding: 0 10px 5px;
  }
  .el-dropdown-menu__item{
    line-height: 20px;
    text-align: left;
    padding: 5px 10px;
  }
  .el-checkbox{
    margin-left: 0;
  }
  .el-checkbox__label{
    font-size: 12px;
  }
  .el-checkbox__inner{
    width: 15px;
    height: 15px;
  }
  .el-input__inner{
    height: 25px;
    font-size: 12px;
  }
  .el-button{
    padding: 6px 13px;
    font-size: 12px;
  }
  .input-with-select{
    width: 163px;
  }
  .el-input__icon{
    width: 30px;
    height: 25px;
  }
  .el-card{
    margin-bottom: 3px;
    text-align: left;
  }
  .menu-toggle-btn{
    bottom: 80px;
  }
  .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: inherit;
    border: none;
  }
  .pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    background-color: inherit;
    border: none;
  }
  .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    background-color: inherit;
    border: none;
  }
  .pagination>li>a, .pagination>li>span{
    background-color: inherit;
    border: none;
  }
  .pagination {
    margin: 0; 
  }
  .anchorBL{display:none;}/*左下角百度地图图标隐藏*/
  
  .map-menu-left div::-webkit-scrollbar {
    display:none;
  }

  .dzbk{
    color:#fff;font-size:14px
  }

  .zddwbk{
    color:#aaa;font-size:12px
  }

 #icon-password{
    width: 24px;
    height: 24px;
    background: url(/static/images/logo/icon_code.png) no-repeat;      
    display: inline-block;
    border: 0px;
}

.searchbk{
  margin-top:20px;margin-left: 12px;
  /* background: #aaa; */

}

.btnbk{
  border:0px;background:#F9C520;border-radius:0px 0px 0px 0px;margin-left: -1px;height: 25px;
}

.sltbk{
  border:0px !important;
  outline: none;
  border-radius:0px;
  background:#fff;
  border:none !important;
}

.el-select{
  border-radius: 0px;
}

.el-option{
  border-radius: 0px;
}

/* .el-select:focus-within {
  border: none;
  outline: none;
} */

.el-select{
  border:0px !important;
  outline: none;
  border-radius:0px;
  background:#fff;
  border:none !important;
}

.el-option{
  border:0px !important;
  outline: none;
  border-radius:0px;
  background:#fff;
  border:none !important;
}

.cardbk{
  margin: 0px;
  color:#333;
  border-radius: 0px;
  border: 0px;
  background: #493b35;
}

.cardbk:hover{
  margin: 0px;
  color:#333;
  border-radius: 0px;
  border: 0px;
  background: #705f58;
}

.el-pagination .btn-next, .el-pagination .btn-prev {
  background:#493b35;
  background-size: 16px;
  border: 0px;
  cursor: pointer;
  margin: 0;
  color: #fff;
}

.el-pagination__editor {
  border: 0px;
  border-radius: 0px;
  line-height: 18px;
  padding: 4px 2px;
  width: 30px;
  text-align: center;
  margin: 0 2px;
  box-sizing: border-box;
  transition: border .3s;
  color: #fff;
  background:#493b35;
}

.el-pagination button.disabled {
  color: #e4e4e4;
  background-color: #493b35;
  cursor: not-allowed;
}
/* 收缩按钮位置 */
.menu-toggle-btn {
  bottom: 14px;
}
/* 经纬度显示框样式 */
.inputbk {
 border:0px;margin-left:-4px;padding:5px;width:91px;border-radius:2px 2px 2px 2px;height: 27px !important;background: rgba(0,0,0,0.5);color: #fff;
}
.jwcolor{ color:#493b35;background: rgba(0,0,0,0);
  padding: 5px;border-radius:2px 0px 0px 2px;
  font-weight: 600; 
  }
  .h25{height: 25px;} .h515{height: 620px;}
  .h65{height: 65%;} .wh240{width: 240;}
  .icont:hover{background: rgba(0,0,0,0.3);}

.searchmenu{
  color:#493b35;
  background:rgba(0,0,0,0);
  height: 29px !important;
  top:5px;
  border:0px;
  border-radius:2px 0px 0px 2px;
  font-weight: 600;
}
.searchmenu:hover{
  color:#493b35;
  background:rgba(0,0,0,0);
  height: 29px !important;
  top:5px;
  border:0px;
  border-radius:2px 0px 0px 2px;
  font-weight: 600;
}

.menubk{
  margin-top:16px;
  background:rgba(89,99,160,0) !important;
  color: #fff;
  border:0px;
  
}
  