input[type=file] {
    display: none;
}
.el-card__body{
    padding: 10px 0px 10px 0px;    
}
.el-message{
    z-index: 10005 !important;
}
.el-cascader, .el-select{
    width: 100%
}
.el-card__header {
    padding: 5px 25px;
    line-height: 30px;
}