<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- <link rel="stylesheet" type="text/css" href="../../static/css/planobject/importantunits.css"> -->
	<title>重点单位</title>
</head>

<body class="fw f14 main-index-body">
	<div id="app">
		<div class="main-box">
			<div class="main-container" v-loading="loading" element-loading-text="加载中">
				<!-- 面包屑 -->
				<div id="breadcrumb_box"></div>
				<div id="inforView">
					<el-form label-width="140px" ref="editForm" :model="editForm" :rules="inforRules">
						<el-row class="mb5 row-edit-subtitle">
							<el-col :span="24">
								<strong class="col-edit-subtitle">基本信息</strong>
							</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-form-item label="单位名称" prop="dwmc">
									<el-input size="small" v-model="editForm.dwmc" maxlength="100" placeholder="单位名称" clearable></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
							<el-col :span="11">
								<el-form-item label="单位性质" prop="dwxz">
									<el-select size="small" v-model="editForm.dwxz" placeholder="请选择" class="searchSelect" clearable>
										<el-option v-for="item in dwxzData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
									</el-select>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-form-item label="单位地址">
									<el-input size="small" v-model="editForm.dwdz" maxlength="100" placeholder="单位地址" clearable></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
							<el-col :span="11">
								<el-form-item label="行政区划">
									<el-cascader :options="xzqhData" :props="defaultProps" size="small" v-model="editForm.xzqh" placeholder="请选择" class="searchSelect"
									 clearable change-on-select :show-all-levels="false"></el-cascader>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-form-item label="防火等级" prop="fhdj">
									<el-select size="small" v-model="editForm.fhdj" placeholder="请选择" class="searchSelect" clearable>
										<el-option v-for="item in fhdjData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
									</el-select>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
							<el-col :span="11">
								<el-form-item label="值班电话">
									<el-input size="small" v-model="editForm.zbdh" maxlength="25" placeholder="值班电话" clearable></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
						</el-row>
						<el-row>
							<el-col :span="23">
								<el-form-item label="单位概况">
									<el-input size="small" type="textarea" :autosize="{ minRows: 1, maxRows: 4}" v-model="editForm.dwgk" maxlength="1000" placeholder="单位概况"
									 class="searchSelect"></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
						</el-row>
						<el-row class="mb5 row-edit-subtitle">
							<el-col :span="24">
								<strong class="col-edit-subtitle">位置信息</strong>
							</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-form-item label="GIS_X">
									<el-input-number type="number" size="small" v-model="editForm.gisX" :precision="10" :min="-99999.9999999999" :max="99999.9999999999" placeholder="GIS_X"></el-input-number>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
							<el-col :span="11">
								<el-form-item label="GIS_Y">
									<el-input-number type="number" size="small" v-model="editForm.gisY" precision="10" :min="-99999.9999999999" :max="99999.9999999999" placeholder="GIS_Y"></el-input-number>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
						</el-row>

						<el-row>
							<el-col :span="11">
								<el-form-item label="经度">
									<el-input-number type="number" size="small" v-model="editForm.lon" precision="10" :min="-99999.9999999999" :max="99999.9999999999" placeholder="经度"></el-input-number>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
							<el-col :span="11">
								<el-form-item label="纬度">
									<el-input-number type="number" size="small" v-model="editForm.lat" precision="10" :min="-99999.9999999999" :max="99999.9999999999" placeholder="纬度"></el-input-number>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-form-item label="毗邻情况(东)">
									<el-input size="small" v-model="editForm.plqkd" maxlength="100" placeholder="毗邻情况(东)" clearable></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
							<el-col :span="11">
								<el-form-item label="毗邻情况(西)">
									<el-input size="small" v-model="editForm.plqkx" maxlength="100" placeholder="毗邻情况(西)" clearable></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-form-item label="毗邻情况(南)">
									<el-input size="small" v-model="editForm.plqkn" maxlength="100" placeholder="毗邻情况(南)" clearable></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
							<el-col :span="11">
								<el-form-item label="毗邻情况(北)">
									<el-input size="small" v-model="editForm.plqkb" maxlength="100" placeholder="毗邻情况(北)" clearable></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
						</el-row>
						<el-row class="mb5 row-edit-subtitle">
							<el-col :span="24">
								<strong class="col-edit-subtitle">消防信息</strong>
							</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-form-item label="防火管辖大队" prop="fhdzid">
									<el-cascader :options="xfdzData" :props="xfdzProps" size="small" v-model="editForm.fhdzid" placeholder="请选择" class="searchSelect"
									 clearable change-on-select :show-all-levels="false"></el-cascader>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
							<el-col :span="11">
								<el-form-item label="灭火责任队站" prop="mhdzid">
									<el-cascader :options="xfdzData" :props="xfdzProps" size="small" v-model="editForm.mhdzid" placeholder="请选择" class="searchSelect"
									 clearable change-on-select :show-all-levels="false"></el-cascader>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-form-item label="消防责任人">
									<el-input size="small" v-model="editForm.xfzrr" maxlength="25" placeholder="消防责任人" clearable></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
							<el-col :span="11">
								<el-form-item label="消防责任人电话">
									<el-input size="small" v-model="editForm.xfzrrdh" maxlength="30" placeholder="消防责任人电话" clearable></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-form-item label="消防管理人">
									<el-input size="small" v-model="editForm.xfglr" maxlength="25" placeholder="消防管理人" clearable></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
							<el-col :span="11">
								<el-form-item label="消防管理人电话">
									<el-input size="small" v-model="editForm.xfglrdh" maxlength="30" placeholder="消防管理人电话" clearable></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-form-item label="单位消防设施数量">
									<el-input-number v-model="editForm.xfsssl" size="small" :min="0" :max="99999" onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))"
									 class="searchSelect"></el-input-number>
								</el-form-item>
							</el-col>
							<el-col :span="13">&nbsp;</el-col>
						</el-row>
						<el-row class="mb5 row-edit-subtitle2">
							<el-col :span="12">
								<strong>&nbsp;&nbsp;单位消防队伍</strong>
							</el-col>
							<el-col :span="12">
								<el-button type="primary" icon="plus" size="small" style="float: right;" @click="addDomainXfll"></el-button>
							</el-col>
						</el-row>
						<el-card v-for="(xfll,index) in editForm.xfllList" :key="xfll.key" class="card_style">
							<div slot="header">
								<strong class="card_title_font">单位消防队伍{{index+1}}</strong>
								<el-button type="danger" icon="minus" size="small" @click.prevent="removeDomainXfll(xfll)" class="r" style="margin:-4px 15px 1px"></el-button>
							</div>
							<el-row>
								<el-col :span="23">
									<el-form-item label="消防队伍类型">
										<el-select size="small" v-model="xfll.xfdwlx" placeholder="请选择" class="searchSelect" clearable>
											<el-option v-for="item in xfdwlxData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
										</el-select>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item label="消防队伍人数">
										<el-input-number v-model="xfll.xfdwrs" size="small" :precision="0" :min="0" :max="9999999999" onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))"
										 class="searchSelect"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item label="消防队伍车辆数">
										<el-input-number v-model="xfll.xfdwcls" size="small" :precision="0" :min="0" :max="99999" onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))"
										 class="searchSelect"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item label="消防队伍联系人">
										<el-input v-model="xfll.xfdwlxr" size="small" maxlength="25" placeholder="消防队伍联系人" class="searchSelect" clearable></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item label="消防队伍联系电话">
										<el-input v-model="xfll.xfdwdh" size="small" maxlength="30" placeholder="消防队伍联系电话" class="searchSelect" clearable></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
						</el-card>
						<!-- 单位建筑信息 -->
						<el-row class="mb5 row-edit-subtitle">
							<el-col :span="24">
								<strong class="col-edit-subtitle">单位建筑信息</strong>
							</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-form-item label="建筑分类">
									<el-select size="small" v-model="editForm.jzfl" placeholder="请选择" class="searchSelect" clearable>
										<el-option v-for="item in jzflData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
									</el-select>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
							<el-col :span="11">
								<el-form-item label="建筑数量">
									<el-input-number v-model="editForm.jzsl" size="small" :precision="0":min="0" :max="9999999999" onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))"></el-input-number>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-form-item label="占地面积(㎡)">
									<el-input-number v-model="editForm.zdmj" size="small" :precision="2" :min="0" :max="99999999.99" class="searchSelect"></el-input-number>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
							<el-col :span="11">
								<el-form-item label="建筑面积(㎡)">
									<el-input-number v-model="editForm.jzmj" size="small" :precision="2" :min="0" :max="99999999.99" class="searchSelect"></el-input-number>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
						</el-row>
						<el-row class="mb5 row-edit-subtitle2">
							<el-col :span="12">
								<strong>&nbsp;&nbsp;单位建筑情况</strong>
							</el-col>
							<el-col :span="12">
								<el-button type="primary" icon="plus" size="small" style="float:right;" @click="addDomainJzxx"></el-button>
							</el-col>
						</el-row>
						<el-row v-for="(jzxx,index) in editForm.jzxxList" :key="jzxx.key" :prop="'editForm.jzxxList.' + index + '.value'">
							<el-col :span="11">
								<el-form-item label="建筑名称">
									<el-input size="small" v-model="jzxx.jzmc" placeholder="建筑名称" class="searchSelect" disabled></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="1" style="padding: 4px 0;" class="tl">
								<el-button icon="search" size="small" style="border: none;" @click="getJzxxList('init',index)"></el-button>
							</el-col>
							<el-col :span="12">
								<el-button type="danger" icon="minus" size="small" @click.prevent="removeDomainJzxx(jzxx)" class="r"></el-button>
							</el-col>
						</el-row>
						<!-- 重点部位信息 -->
						<el-row class="mb5 row-edit-subtitle">
							<el-col :span="12" class="pb1">
								<strong class="col-edit-subtitle">重点部位信息</strong>
							</el-col>
							<el-col :span="12" class="pb1">
								<el-button type="primary" icon="plus" size="small" class="r" @click="addDomainZdbw"></el-button>
							</el-col>
						</el-row>
						<el-card v-for="(zdbw,index) in editForm.zdbwList" :key="zdbw.key" class="card_style">
							<div slot="header">
								<strong class="card_title_font">重点部位{{index+1}}</strong>
								<el-button type="danger" icon="minus" size="small" @click.prevent="removeDomainZdbw(zdbw)" class="r" style="margin:-4px 15px 1px"></el-button>
							</div>
							<el-row>
								<el-col :span="11">
									<el-form-item label="重点部位名称" :rules="inforRules.zdbwmc">
										<el-input size="small" v-model="zdbw.zdbwmc" maxlength="50" placeholder="重点部位名称" class="searchSelect"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item label="重点部位类型" :rules="inforRules.zdbwlx">
										<el-select size="small" v-model="zdbw.zdbwlx" placeholder="请选择" class="searchSelect" clearable @change="zdbwlxChange(index)"
										 :disabled="zdbw.zdbwlxDisabled">
											<el-option v-for="item in zdbwlxData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
										</el-select>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="23">
									<el-form-item label="重点部位位置">
										<el-input size="small" v-model="zdbw.zdbwwz" maxlength="50" placeholder="重点部位位置" class="searchSelect"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="23">
									<el-form-item label="危险性分析">
										<el-input size="small" type="textarea" :autosize="{ minRows: 1, maxRows: 4}" v-model="zdbw.wxxfx" maxlength="200" placeholder="危险性分析"
										 class="searchSelect"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="23">
									<el-form-item label="注意事项">
										<el-input size="small" type="textarea" :autosize="{ minRows: 1, maxRows: 4}" v-model="zdbw.zysx" maxlength="200" placeholder="注意事项"
										 class="searchSelect"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="23">
									<el-form-item label="备注">
										<el-input size="small" type="textarea" :autosize="{ minRows: 1, maxRows: 4}" v-model="zdbw.bz" maxlength="200" placeholder="备注"
										 class="searchSelect"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<!-- 重点部位-建筑类 -->
							<div v-if="zdbw.zdbwlx === '10'">
								<el-row>
									<el-col :span="11">
										<el-form-item label="使用性质">
											<el-cascader :options="syxzData" :props="defaultProps" size="small" v-model="zdbw.jzl.syxzList" placeholder="请选择" class="searchSelect"
											 clearable change-on-select :show-all-levels="false"></el-cascader>
										</el-form-item>
									</el-col>
									<el-col :span="1">&nbsp;</el-col>
									<el-col :span="11">
										<el-form-item label="建筑结构">
											<el-select size="small" v-model="zdbw.jzl.jzjg" placeholder="请选择" class="searchSelect" clearable>
												<el-option v-for="item in jzjgData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
											</el-select>
										</el-form-item>
									</el-col>
									<el-col :span="1">&nbsp;</el-col>
								</el-row>
								<el-row>
									<el-col :span="11">
										<el-form-item label="区域面积(㎡)">
											<el-input-number v-model="zdbw.jzl.qymj" onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" size="small"
											:precision="2" :min="0" :max="99999999.99"></el-input-number>
										</el-form-item>
									</el-col>
									<el-col :span="1">&nbsp;</el-col>
									<el-col :span="11">
										<el-form-item label="功能描述">
											<el-input size="small" type="textarea" :autosize="{ minRows: 1, maxRows: 4}" v-model="zdbw.jzl.gnms" maxlength="200" placeholder="功能描述"
											 class="searchSelect"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="1">&nbsp;</el-col>
								</el-row>
								<!-- 危险介质 -->
								<el-row class="mb5 mt5 row-edit-subtitle2" style="margin-left: 15px;">
									<el-col :span="12">
										<strong>&nbsp;&nbsp;危险介质</strong>
									</el-col>
									<el-col :span="11">&nbsp;</el-col>
									<el-col :span="1">
										<el-button type="primary" icon="plus" size="small" style="float:left;" @click="addDomainWxjz(index)"></el-button>
									</el-col>
								</el-row>
								<div v-for="(wxjz,index1) in zdbw.jzl.wxjzList" :key="wxjz.key" :prop="'editForm.zdbwList[' + index + '].' + index1 + '.value'">
									<el-row>
										<el-col :span="11">
											<el-form-item :label="'危险介质'+(index1+1)+'名称'">
												<el-input size="small" v-model="wxjz.jzmc" maxlength="50" placeholder="危险介质名称" class="searchSelect"></el-input>
											</el-form-item>
										</el-col>
										<el-col :span="1">&nbsp;</el-col>
										<el-col :span="11">
											<el-form-item :label="'介质'+(index1+1)+'实际储量'">
												<el-input-number v-model="wxjz.jzsjcl" size="small" :precision="2" :min="0" :max="999.99"></el-input-number>
											</el-form-item>
										</el-col>
										<el-col :span="1">
											<el-button type="danger" icon="minus" size="small" @click.prevent="removeDomainWxjz(index,wxjz)" class="r" style="float:left;"></el-button>
										</el-col>
									</el-row>
									<el-row>
										<el-col :span="11">
											<el-form-item :label="'介质'+(index1+1)+'理化特性'">
												<el-input size="small" v-model="wxjz.jzlhtx" maxlength="200" type="textarea" :autosize="{ minRows: 1, maxRows: 4}" placeholder="介质理化特性"
												 class="searchSelect"></el-input>
											</el-form-item>
										</el-col>
										<el-col :span="1">&nbsp;</el-col>
										<el-col :span="11">
											<el-form-item :label="'介质'+(index1+1)+'备注'">
												<el-input size="small" v-model="wxjz.jzbz" maxlength="200" type="textarea" :autosize="{ minRows: 1, maxRows: 4}" placeholder="介质备注"
												 class="searchSelect"></el-input>
											</el-form-item>
										</el-col>
										<el-col :span="1">&nbsp;</el-col>
									</el-row>
									<el-row>&nbsp;</el-row>
								</div>
							</div>
							<!-- 重点部位-装置类 -->
							<div v-if="zdbw.zdbwlx === '20'">
								<el-row></el-row>
								<el-row>
									<el-col :span="11">
										<el-form-item label="建筑结构">
											<el-select size="small" v-model="zdbw.zzl.jzjg" placeholder="请选择" class="searchSelect" clearable>
												<el-option v-for="item in jzjgData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
											</el-select>
										</el-form-item>
									</el-col>
									<el-col :span="1">&nbsp;</el-col>
									<el-col :span="11">
										<el-form-item label="装置组成">
											<el-input size="small" type="textarea" :autosize="{ minRows: 1, maxRows: 4}" v-model="zdbw.zzl.zzzc" maxlength="200" placeholder="装置组成"
											 class="searchSelect"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="1">&nbsp;</el-col>
								</el-row>
								<el-row>
									<el-col :span="11">
										<el-form-item label="占地面积(㎡)">
											<el-input-number v-model="zdbw.zzl.zdmj" size="small" :precision="2" :min="0" :max="99999999.99"></el-input-number>
										</el-form-item>
									</el-col>
									<el-col :span="1">&nbsp;</el-col>
									<el-col :span="11">
										<el-form-item label="装置高度(m)">
											<el-input-number v-model="zdbw.zzl.zzgd" size="small" :precision="2" :min="0" :max="99999999.99"></el-input-number>
										</el-form-item>
									</el-col>
									<el-col :span="1">&nbsp;</el-col>
								</el-row>
								<el-row>
									<el-col :span="11">
										<el-form-item label="技术负责人">
											<el-input size="small" v-model="zdbw.zzl.jsfzr" maxlength="25" placeholder="技术负责人" class="searchSelect"></el-input>
									</el-col>
									<el-col :span="1">&nbsp;</el-col>
									<el-col :span="11">
										<el-form-item label="技术负责人电话">
											<el-input size="small" v-model="zdbw.zzl.jsfzrdh" maxlength="30" placeholder="技术负责人电话" class="searchSelect"></el-input>
									</el-col>
									<el-col :span="1">&nbsp;</el-col>
								</el-row>
								<el-row>
									<el-col :span="23">
										<el-form-item label="原料信息">
											<el-input size="small" type="textarea" :autosize="{ minRows: 1, maxRows: 4}" v-model="zdbw.zzl.ylxx" maxlength="200" placeholder="原料信息"
											 class="searchSelect"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="1">&nbsp;</el-col>
								</el-row>
								<el-row>
									<el-col :span="23">
										<el-form-item label="产物信息">
											<el-input size="small" type="textarea" :autosize="{ minRows: 1, maxRows: 4}" v-model="zdbw.zzl.cwxx" maxlength="200" placeholder="产物信息"
											 class="searchSelect"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="1">&nbsp;</el-col>
								</el-row>
								<el-row>
									<el-col :span="23">
										<el-form-item label="工艺流程">
											<el-input size="small" type="textarea" :autosize="{ minRows: 1, maxRows: 4}" v-model="zdbw.zzl.gylc" maxlength="200" placeholder="工艺流程"
											 class="searchSelect"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="1">&nbsp;</el-col>
								</el-row>
							</div>
							<div v-if="zdbw.zdbwlx === '30'">
								<el-row></el-row>
								<el-row>
									<el-col :span="11">
										<el-form-item label="储罐数量">
											<el-input-number v-model="zdbw.cgl.cgsl" size="small" :precision="0" :min="0" :max="9999" onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))"></el-input-number>
										</el-form-item>
									</el-col>
									<el-col :span="1">&nbsp;</el-col>
									<el-col :span="11">
										<el-form-item label="储罐间隔(m)">
											<el-input-number v-model="zdbw.cgl.cgjg" size="small" :precision="2" :min="0" :max="99999999.99"></el-input-number>
										</el-form-item>
									</el-col>
									<el-col :span="1">&nbsp;</el-col>
								</el-row>
								<el-row>
									<el-col :span="11">
										<el-form-item label="总容积(m³)">
											<el-input-number v-model="zdbw.cgl.zrj" size="small" :precision="2" :min="0" :max="99999999.99" onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))"></el-input-number>
										</el-form-item>
									</el-col>
									<el-col :span="1">&nbsp;</el-col>
									<el-col :span="11">
										<el-form-item label="存储介质描述">
											<el-input v-model="zdbw.cgl.ccjzms" size="small" type="textarea" :autosize="{ minRows: 1, maxRows: 4}" maxlength="200" placeholder="存储介质描述"
											 class="searchSelect"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="1">&nbsp;</el-col>
								</el-row>
								<el-row>
									<el-col :span="11">
										<el-form-item label="技术负责人">
											<el-input size="small" v-model="zdbw.cgl.jsfzr" maxlength="25" placeholder="技术负责人" class="searchSelect"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="1">&nbsp;</el-col>
									<el-col :span="11">
										<el-form-item label="技术负责人电话">
											<el-input size="small" v-model="zdbw.cgl.jsfzrdh" maxlength="30" placeholder="技术负责人电话" class="searchSelect"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="1">&nbsp;</el-col>
								</el-row>
								<el-row>
									<el-col :span="11">
										<el-form-item label="毗邻情况(东)">
											<el-input size="small" v-model="zdbw.cgl.plqkd" maxlength="100" placeholder="毗邻情况(东)" class="searchSelect"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="1">&nbsp;</el-col>
									<el-col :span="11">
										<el-form-item label="毗邻情况(南)">
											<el-input size="small" v-model="zdbw.cgl.plqkn" maxlength="100" placeholder="毗邻情况(南)" class="searchSelect"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="1">&nbsp;</el-col>
								</el-row>
								<el-row>
									<el-col :span="11">
										<el-form-item label="毗邻情况(西)">
											<el-input size="small" v-model="zdbw.cgl.plqkx" maxlength="100" placeholder="毗邻情况(西)" class="searchSelect"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="1">&nbsp;</el-col>
									<el-col :span="11">
										<el-form-item label="毗邻情况(北)">
											<el-input size="small" v-model="zdbw.cgl.plqkb" maxlength="100" placeholder="毗邻情况(北)" class="searchSelect"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="1">&nbsp;</el-col>
								</el-row>
								<!-- 储罐信息 -->
								<el-row class="mb5 mt5 row-edit-subtitle2" style="margin-left: 15px;">
									<el-col :span="12">
										<strong>&nbsp;&nbsp;储罐信息</strong>
									</el-col>
									<el-col :span="11">&nbsp;</el-col>
									<el-col :span="1">
										<el-button type="primary" icon="plus" size="small" style="float:left;" @click="addDomainCg(index)"></el-button>
									</el-col>
								</el-row>
								<div v-for="(cg,index1) in zdbw.cgl.cgList" :key="cg.key" :prop="'editForm.zdbwList[' + index + '].cgl.' + index1 + '.value'">
									<el-row>
										<el-col :span="11">
											<el-form-item :label="'储罐'+(index1+1)+'名称'">
												<el-input size="small" v-model="cg.cgmc" maxlength="50" placeholder="储罐名称" class="searchSelect"></el-input>
											</el-form-item>
										</el-col>
										<el-col :span="1">&nbsp;</el-col>
										<el-col :span="11">&nbsp;</el-col>
										<el-col :span="1">
											<el-button type="danger" icon="minus" size="small" @click.prevent="removeDomainCg(index,cg)" class="r" style="float:left;"></el-button>
										</el-col>
									</el-row>
									<el-row>
										<el-col :span="11">
											<el-form-item :label="'储罐'+(index1+1)+'类型'">
												<el-select size="small" v-model="cg.cglx" placeholder="请选择" class="searchSelect" clearable>
													<el-option v-for="item in cglxData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
												</el-select>
											</el-form-item>
										</el-col>
										<el-col :span="1">&nbsp;</el-col>
										<el-col :span="11">
											<el-form-item :label="'储罐'+(index1+1)+'容量(m³)'">
												<el-input-number v-model="cg.cgrl" size="small" :precision="2" :min="0" :max="99999999.99"></el-input-number>
											</el-form-item>
										</el-col>
										<el-col :span="1">&nbsp;</el-col>
									</el-row>
									<el-row>
										<el-col :span="11">
											<el-form-item :label="'储罐'+(index1+1)+'直径(m)'">
												<el-input-number v-model="cg.cgzj" size="small" :precision="2" :min="0" :max="99999999.99"></el-input-number>
											</el-form-item>
										</el-col>
										<el-col :span="1">&nbsp;</el-col>
										<el-col :span="11">
											<el-form-item :label="'储罐'+(index1+1)+'高度(m)'">
												<el-input-number v-model="cg.cggd" size="small" :precision="2" :min="0" :max="99999999.99"></el-input-number>
											</el-form-item>
										</el-col>
										<el-col :span="1">&nbsp;</el-col>
									</el-row>
									<el-row>
										<el-col :span="11">
											<el-form-item :label="'储罐'+(index1+1)+'周长(m)'">
												<el-input-number v-model="cg.cgzc" size="small" :precision="2" :min="0" :max="99999999.99"></el-input-number>
											</el-form-item>
										</el-col>
										<el-col :span="1">&nbsp;</el-col>
										<el-col :span="11">
											<el-form-item :label="'罐顶'+(index1+1)+'面积(㎡)'">
												<el-input-number v-model="cg.gdmj" size="small" :precision="2" :min="0" :max="99999999.99"></el-input-number>
											</el-form-item>
										</el-col>
										<el-col :span="1">&nbsp;</el-col>
									</el-row>
									<el-row>
										<el-col :span="11">
											<el-form-item label="工作压力">
												<el-input size="small" v-model="cg.gzyl" maxlength="15" placeholder="工作压力" class="searchSelect"></el-input>
											</el-form-item>
										</el-col>
										<el-col :span="1">&nbsp;</el-col>
										<el-col :span="11">
											<el-form-item label="存储温度">
												<el-input size="small" v-model="cg.ccwd" maxlength="15" placeholder="存储温度" class="searchSelect"></el-input>
											</el-form-item>
										</el-col>
										<el-col :span="1">&nbsp;</el-col>
									</el-row>
									<el-row>
										<el-col :span="11">
											<el-form-item label="存储介质名称">
												<el-input size="small" v-model="cg.ccjzmc" maxlength="50" placeholder="存储介质名称" class="searchSelect"></el-input>
											</el-form-item>
										</el-col>
										<el-col :span="1">&nbsp;</el-col>
										<el-col :span="11">
											<el-form-item label="存储介质理化性质">
												<el-input size="small" v-model="cg.ccjzlhxz" maxlength="200" type="textarea" :autosize="{ minRows: 1, maxRows: 4}" placeholder="存储介质理化性质"
												 class="searchSelect"></el-input>
											</el-form-item>
										</el-col>
										<el-col :span="1">&nbsp;</el-col>
									</el-row>
									<el-row>
										<el-col :span="11">
											<el-form-item label="介质实际储量(m³)">
												<el-input-number v-model="cg.ccjzsjcl" size="small" :precision="2" :min="0" :max="99999999.99"></el-input-number>
											</el-form-item>
										</el-col>
										<el-col :span="1">&nbsp;</el-col>
										<el-col :span="11">
											<el-form-item label="介质液位高度(m)">
												<el-input-number v-model="cg.ccjzywgd" size="small" :precision="2" :min="0" :max="999.99"></el-input-number>
											</el-form-item>
										</el-col>
										<el-col :span="1">&nbsp;</el-col>
									</el-row>
									<el-row>
										<el-col :span="23">
											<el-form-item label="介质备注">
												<el-input size="small" v-model="cg.bz" maxlength="200" type="textarea" :autosize="{ minRows: 1, maxRows: 4}" placeholder="介质备注"
												 class="searchSelect"></el-input>
											</el-form-item>
										</el-col>
										<el-col :span="1">&nbsp;</el-col>
									</el-row>
									<el-row>&nbsp;</el-row>
								</div>
							</div>
						</el-card>

						<el-row class="mb5 row-edit-subtitle">
							<el-col :span="24">
								<strong class="col-edit-subtitle">备注</strong>
							</el-col>
						</el-row>
						<el-row>
							<el-col :span="23">
								<el-form-item label="备注">
									<el-input size="small" v-model="editForm.bz" maxlength="200" placeholder="备注" type="textarea" :autosize="{ minRows: 2, maxRows: 4}"></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
						</el-row>
					</el-form>
				</div>

				<el-row class="mt35 mb20">
					<el-row>
						<el-col :span="24" class="editform-button">
							<el-button type="clear" icon="close" size="small" class="btn_submit" @click="cancel"> 取消</el-button>
							<el-button type="success" icon="check" size="small" class="btn_save" @click="save('editForm')">保存</el-button>
						</el-col>
					</el-row>
				</el-row>

				<!--选择所属建筑界面-->
				<el-dialog title="选择所属建筑" :visible.sync="buildingListVisible" :close-on-click-modal="false">
					<div id="tableView" v-loading="loading_building" element-loading-text="加载中">
						<el-row>
							<el-form :inline="true" class="el-form demo-form-inline">
								<el-row class="mb5">
									<el-col :span="12" class="searchInline">
										<label class="el-form-item__label" style="width:95px;" class="tr vbm">建筑名称</label>
										<el-input size="small" v-model="searchForm_building.jzmc" placeholder="建筑名称" clearable></el-input>
									</el-col>
									<el-col :span="12" class="btnSearchPlus">
										<el-button type="primary" icon="search" size="small" @click="getJzxxList('click',jzIndex)">查询</el-button>
										<el-button type="clear" icon="delete" size="small" @click="clearJzxxList">清空</el-button>
									</el-col>
								</el-row>
							</el-form>
						</el-row>
						<div class="table_container">
							<el-table border id="table" :data="tableData_building.slice((currentPage_building-1)*pageSize_building,currentPage_building*pageSize_building)"
							 class="tableStyle" :height="tableheight_buliding" @row-click="selectRow_building">
								<el-table-column type="index" label="序号" show-overflow-tooltip width="65" align="center"></el-table-column>
								<el-table-column prop="jzmc" label="建筑名称" show-overflow-tooltip min-width="33%" align="center"></el-table-column>
								<el-table-column prop="jzlxmc" label="建筑类型" show-overflow-tooltip min-width="27%" align="center"></el-table-column>
								<el-table-column prop="jzwz" label="建筑位置" show-overflow-tooltip min-width="30%" align="center"></el-table-column>
							</el-table>
							<!--列表底部工具条和分页符-->
							<el-row type="flex" justify="end">
								<el-col :span="18">
									<el-pagination @current-change="currentPageChange_building" :current-page="currentPage_building" :page-size="pageSize_building"
									 layout="total, prev, pager, next, jumper" :total=parseInt(total_building)>
									</el-pagination>
								</el-col>
							</el-row>
						</div>
					</div>
				</el-dialog>
			</div>
		</div>
	</div>
</body>
<script src="../../static/js/planobject/importantunits_edit.js"></script>

</html>