<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="../../static/css/planobject/importantunits.css">
	<title>重点单位</title>
</head>

<body class="fw f14 main-index-body">
	<div id="app">
		<div class="main-box">
			<div class="main-container" v-loading="loading" element-loading-text="加载中">
				<!-- 面包屑 -->
				<div id="breadcrumb_box"></div>
				<div id="inforView" class="pt15">
					<el-form label-width="75px" :inline="true" class="el-form demo-form-inline" ref="editForm" :model="editForm" label-position="right">
						<el-row class="mb5" style="border-bottom:1px solid #20a0ff;line-height: 29px;">
							<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
								<strong style="color: #20a0ff;">基本信息</strong>
							</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm"><span style="color:red;">* </span>单位名称</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input size="small" v-model="editForm.dwmc" placeholder="单位名称" clearable></el-input>
							</el-col>
							<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
								<el-label class="mr5 vbm">单位性质</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-select size="small" v-model="editForm.dwxz" placeholder="请选择" class="searchSelect" clearable>
									<el-option v-for="item in dwxzData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
								</el-select>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">单位地址</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input size="small" v-model="editForm.dwdz" placeholder="单位地址" clearable></el-input>
							</el-col>
							<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
								<el-label class="mr5 vbm">行政区划</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-cascader :options="xzqhData" :props="defaultProps" size="small" v-model="editForm.xzqh" placeholder="请选择" class="searchSelect"
									clearable change-on-select :show-all-levels="true"></el-cascader>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>
						<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">防火等级</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-select size="small" v-model="editForm.fhdj" placeholder="请选择" class="searchSelect" clearable>
										<el-option v-for="item in fhdjData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
									</el-select>
								</el-col>
								<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
									<el-label class="mr5 vbm">值班电话</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input size="small" v-model="editForm.zbdh" placeholder="值班电话" clearable></el-input>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
						<el-row class="tr mb5">
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">单位概况</el-label>
							</el-col>
							<el-col :xs="20" :sm="20" :md="20" :lg="20" :xl="20">
								<el-input size="small" v-model="editForm.dwgk" placeholder="单位概况" clearable></el-input>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>
						<el-row class="mb5" style="border-bottom:1px solid #20a0ff;line-height: 29px;">
							<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
								<strong style="color: #20a0ff;">位置信息</strong>
							</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">GIS_X</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input-number type="number" size="small" v-model="editForm.gisX" placeholder="GIS_X"></el-input-number>
							</el-col>
							<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
								<el-label class="mr5 vbm">GIS_Y</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input-number type="number" size="small" v-model="editForm.gisY" placeholder="GIS_Y"></el-input-number>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>

						<el-row class="tr mb5">
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">经度</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input-number type="number" size="small" v-model="editForm.lon" placeholder="经度"></el-input-number>
							</el-col>
							<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
								<el-label class="mr5 vbm">纬度</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input-number type="number" size="small" v-model="editForm.lat" placeholder="纬度"></el-input-number>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">毗邻情况(东)</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input size="small" v-model="editForm.plqkd" placeholder="毗邻情况(东)" clearable></el-input>
							</el-col>
							<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
								<el-label class="mr5 vbm">毗邻情况(西)</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input size="small" v-model="editForm.plqkx" placeholder="毗邻情况(西)" clearable></el-input>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>

						<el-row class="tr mb5">
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">毗邻情况(南)</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input size="small" v-model="editForm.plqkn" placeholder="毗邻情况(南)" clearable></el-input>
							</el-col>
							<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
								<el-label class="mr5 vbm">毗邻情况(北)</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input size="small" v-model="editForm.plqkb" placeholder="毗邻情况(北)" clearable></el-input>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>
						<el-row class="mb5" style="border-bottom:1px solid #20a0ff;line-height: 29px;">
							<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
								<strong style="color: #20a0ff;">消防信息</strong>
							</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">防火队站</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-cascader :options="xfdzData" :props="xfdzProps" size="small" v-model="editForm.fhdzid" placeholder="请选择" class="searchSelect"
									clearable change-on-select :show-all-levels="false"></el-cascader>
							</el-col>
							<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
								<el-label class="mr5 vbm">灭火队站</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-cascader :options="xfdzData" :props="xfdzProps" size="small" v-model="editForm.mhdzid" placeholder="请选择" class="searchSelect"
									clearable change-on-select :show-all-levels="false"></el-cascader>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">消防责任人</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input size="small" v-model="editForm.xfzrr" placeholder="消防责任人" clearable></el-input>
							</el-col>
							<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
								<el-label class="mr5 vbm">消防责任人电话</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input size="small" v-model="editForm.xfzrrdh" placeholder="消防责任人电话" clearable></el-input>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">消防管理人</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input size="small" v-model="editForm.xfglr" placeholder="消防管理人" clearable></el-input>
							</el-col>
							<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
								<el-label class="mr5 vbm">消防管理人电话</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input size="small" v-model="editForm.xfglrdh" placeholder="消防管理人电话" clearable></el-input>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5">单位消防设施数量</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input-number v-model="editForm.xfsssl" size="small" :min="0" onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" class="searchSelect"></el-input-number>
							</el-col>
							<el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">&nbsp;</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>

						<el-row class="mb5" style="border-bottom: 1px solid #d1dbe5; line-height: 29px;" class="mt5">
							<el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12"><i class="el-icon-arrow-right"></i>单位消防队伍</el-col>
							<el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
								<el-button type="primary" icon="plus" size="small" style="float:right;" @click="addDomainXfll"></el-button>
							</el-col>
						</el-row>

						<el-form :model="editForm.xfllList" ref="editForm.xfllList" label-width="100px" style="margin:0;">
							<el-form-item v-for="(xfll,index) in editForm.xfllList" :key="xfll.key" label-position="right">
								<el-card class="card_style">
									<div slot="header" class="clearfix">
										<strong class="card_title_font">单位消防队伍{{index+1}}</strong>
										<el-button type="danger" icon="minus" size="small" @click.prevent="removeDomainXfll(xfll)" class="r" style="margin:3px -17px 0px"></el-button>
									</div>
									<el-row class="tr mb5">
										<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
											<el-label class="mr5">消防队伍类型</el-label>
										</el-col>
										<el-col :xs="20" :sm="20" :md="20" :lg="20" :xl="20">
											<el-select size="small" v-model="xfll.xfdwlx" placeholder="请选择" class="searchSelect" clearable>
												<el-option v-for="item in xfdwlxData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
											</el-select>
										</el-col>
										<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
									</el-row>
									<el-row class="tr">
										<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
											<el-label class="mr5">消防队伍人数</el-label>
										</el-col>
										<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
											<el-input-number v-model="xfll.xfdwrs" size="small" :min="0" onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" class="searchSelect"></el-input-number>
										</el-col>
										<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
											<el-label class="mr5">消防队伍车辆数</el-label>
										</el-col>
										<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
											<el-input-number v-model="xfll.xfdwcls" size="small" :min="0" onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" class="searchSelect"></el-input-number>
										</el-col>
										<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
									</el-row>
									<el-row class="tr">
										<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
											<el-label class="mr5">消防队伍联系人</el-label>
										</el-col>
										<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
											<el-input v-model="xfll.xfdwlxr" size="small" placeholder="消防队伍联系人" class="searchSelect" clearable></el-input>
										</el-col>
										<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
											<el-label class="mr5">消防队伍联系电话</el-label>
										</el-col>
										<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
											<el-input v-model="editForm.xfdwdh" size="small" placeholder="消防队伍联系电话" class="searchSelect" clearable></el-input>
										</el-col>
										<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
									</el-row>
								</el-card>
							</el-form-item>
						</el-form>
						
						<!-- 单位建筑信息 -->
						<el-row class="mb5" style="border-bottom:1px solid #20a0ff;line-height: 29px;">
							<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
								<strong style="color: #20a0ff;">单位建筑信息</strong>
							</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm"></span>建筑分类</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-select size="small" v-model="editForm.jzfl" placeholder="建筑分类" class="searchSelect" clearable>
									<el-option v-for="item in jzflData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
								</el-select>
							</el-col>
							<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
								<el-label class="mr5 vbm">建筑数量</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input-number v-model="editForm.jzsl" size="small" :min="0" onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))"></el-input-number>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">占地面积(㎡)</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input-number v-model="editForm.zdmj" size="small" :min="0" class="searchSelect"></el-input-number>
							</el-col>
							<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
								<el-label class="mr5 vbm">建筑面积(㎡)</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input-number v-model="editForm.jzmj" size="small" :min="0" class="searchSelect"></el-input-number>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>
						<el-row class="mb5" style="border-bottom: 1px solid #d1dbe5; line-height: 29px;" class="mt5">
							<el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12"><i class="el-icon-arrow-right"></i>建筑情况</el-col>
							<el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
								<el-button type="primary" icon="plus" size="small" style="float:right;" @click="addDomainJzxx"></el-button>
							</el-col>
						</el-row>
						<el-form :model="editForm.jzxxList" ref="editForm.jzxxList" label-width="100px" style="margin:0;">
							<el-row class="tr" v-for="(jzxx,index) in editForm.jzxxList" :key="jzxx.key" :prop="'editForm.jzxxList.' + index + '.value'">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5">建筑名称</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input size="small" v-model="jzxx.jzmc" placeholder="建筑名称" class="searchSelect" disabled></el-input>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1" style="padding: 4px 0;" class="tl">
									<el-button icon="search" size="small" style="border: none;" @click="getJzxxList('init',index)"></el-button>
								</el-col>
								<el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
									<el-button type="danger" icon="minus" size="small" @click.prevent="removeDomainJzxx(jzxx)" class="r"></el-button>
								</el-col>
							</el-row>
						</el-form>

						<!-- 重点部位信息 -->
						<el-row class="mb5" style="border-bottom:1px solid #20a0ff;line-height: 29px;">
							<el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12" class="pb1">
								<strong style="color: #20a0ff;">重点部位信息</strong>
							</el-col>
							<el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12" class="pb1">
								<el-button type="primary" icon="plus" size="small" class="r" @click="addDomainZdbw"></el-button>
							</el-col>
						</el-row>
						<el-form :model="editForm.zdbwList" ref="editForm.zdbwList" label-width="100px" style="margin:0;">
							<div v-for="(zdbw,index) in editForm.zdbwList" :key="zdbw.key" :prop="'editForm.zdbwList.' + index + '.value'">
								<el-card class="card_style">
									<div slot="header" class="clearfix">
										<strong class="card_title_font" style="line-height: 36px;">重点部位{{index+1}}</strong>
										<el-button type="danger" icon="minus" size="small" @click.prevent="removeDomainZdbw(zdbw)" class="r" style="margin:3px -17px 0px"></el-button>
									</div>
									<el-row class="tr mb5">
										<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
											<el-label class="mr5 vbm">重点部位名称</el-label>
										</el-col>
										<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
											<el-input size="small" v-model="zdbw.zdbwmc" placeholder="重点部位名称" class="searchSelect"></el-input>
										</el-col>
										<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
											<el-label class="mr5 vbm">重点部位类型</el-label>
										</el-col>
										<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
											<el-select size="small" v-model="zdbw.zdbwlx" placeholder="请选择" class="searchSelect" clearable @change="zdbwlxChange(index)">
												<el-option v-for="item in zdbwlxData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
											</el-select>
										</el-col>
										<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
									</el-row>
									<el-row class="tr mb5">
										<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
											<el-label class="mr5 vbm">重点部位位置</el-label>
										</el-col>
										<el-col :xs="20" :sm="20" :md="20" :lg="20" :xl="20">
											<el-input size="small" v-model="zdbw.zdbwwz" placeholder="重点部位位置" class="searchSelect"></el-input>
										</el-col>
										<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
									</el-row>
									
									<!-- 重点部位-建筑类 -->
									<div v-if="zdbw.zdbwlx === '10'">
										<el-row class="tr"></el-row>
										<el-row class="tr mb5">
											<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
												<el-label class="mr5 vbm">使用性质</el-label>
											</el-col>
											<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
												<!-- <el-select size="small" v-model="zdbw.jzl.syxz" placeholder="请选择" class="searchSelect" clearable>
													<el-option v-for="item in syxzData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
												</el-select> -->
												<el-cascader :options="syxzData" :props="defaultProps" size="small" v-model="zdbw.jzl.syxz" placeholder="请选择" class="searchSelect"
												clearable change-on-select :show-all-levels="false"></el-cascader>
											</el-col>
											<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
												<el-label class="mr5 vbm">建筑结构</el-label>
											</el-col>
											<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
												<el-select size="small" v-model="zdbw.jzl.jzjg" placeholder="请选择" class="searchSelect" clearable>
													<el-option v-for="item in jzjgData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
												</el-select>
											</el-col>
											<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
										</el-row>
										<el-row class="tr mb5">
											<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
												<el-label class="mr5 vbm">区域面积(㎡)</el-label>
											</el-col>
											<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
												<el-input-number v-model="zdbw.jzl.qymj" onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" size="small" :min="0"></el-input-number>
											</el-col>
											<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
												<el-label class="mr5 vbm">功能描述</el-label>
											</el-col>
											<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
												<el-input size="small" type="textarea" :autosize="{ minRows: 1, maxRows: 4}" v-model="zdbw.jzl.gnms" placeholder="功能描述" class="searchSelect"></el-input>
											</el-col>
											<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
										</el-row>

										<!-- 危险介质 -->
										<el-row class="tr mb5 mt5" style="border-bottom: 1px solid #d1dbe5; line-height: 29px;">
											<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3"><i class="el-icon-arrow-right"></i>危险介质</el-col>
											<el-col :xs="9" :sm="9" :md="9" :lg="9" :xl="9">&nbsp;</el-col>
											<el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
												<el-button type="primary" icon="plus" size="small" style="float:right;" @click="addDomainWxjz(index)"></el-button>
											</el-col>
										</el-row>
										<div v-for="(wxjz,index1) in zdbw.jzl.wxjzList" :key="wxjz.key" :prop="'editForm.zdbwList[' + index + '].' + index1 + '.value'">
											<el-row class="tr mb5">
												<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
													<el-label class="mr5 vbm">危险介质{{index1+1}}名称</el-label>
												</el-col>
												<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
													<el-input size="small" v-model="wxjz.jzmc" placeholder="危险介质名称" class="searchSelect"></el-input>	
												</el-col>
												<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
													<el-label class="mr5 vbm">介质{{index1+1}}实际储量</el-label>
												</el-col>
												<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
													<el-input-number v-model="wxjz.jzsjcl" size="small" :min="0" :max="99999.99"></el-input-number>
												</el-col>
												<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">
													<el-button type="danger" icon="minus" size="small" @click.prevent="removeDomainWxjz(index,wxjz)" class="r" style="margin:3px 0px 0px"></el-button>
												</el-col>
											</el-row>
											<el-row class="tr mb5">
												<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
													<el-label class="mr5 vbm">介质{{index1+1}}理化特性</el-label>
												</el-col>
												<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
													<el-input size="small" v-model="wxjz.jzlhtx" type="textarea" :autosize="{ minRows: 1, maxRows: 4}" placeholder="介质理化特性" class="searchSelect"></el-input>	
												</el-col>
												<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
													<el-label class="mr5 vbm">介质{{index1+1}}备注</el-label>
												</el-col>
												<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
													<el-input size="small" v-model="wxjz.jzbz" type="textarea" :autosize="{ minRows: 1, maxRows: 4}" placeholder="介质备注" class="searchSelect"></el-input>	
												</el-col>
												<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
											</el-row>
											<el-row class="tr">&nbsp;</el-row>
										</div>
									</div>

									<!-- 重点部位-装置类 -->
									<div v-if="zdbw.zdbwlx === '20'">
										<el-row class="tr"></el-row>
										<el-row class="tr mb5">
											<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
												<el-label class="mr5 vbm">建筑结构</el-label>
											</el-col>
											<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
												<el-select size="small" v-model="zdbw.zzl.jzjg" placeholder="请选择" class="searchSelect" clearable>
													<el-option v-for="item in jzjgData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
												</el-select>
											</el-col>
											<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
												<el-label class="mr5 vbm">装置组成</el-label>
											</el-col>
											<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
												<el-input size="small" type="textarea" :autosize="{ minRows: 1, maxRows: 4}" v-model="zdbw.zzl.zzzc" placeholder="功能描述" class="searchSelect"></el-input>
											</el-col>
											<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
										</el-row>
										<el-row class="tr mb5">
											<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
												<el-label class="mr5 vbm">占地面积(㎡)</el-label>
											</el-col>
											<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
												<el-input-number v-model="zdbw.zzl.zdmj" size="small" :min="0"></el-input-number>
											</el-col>
											<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
												<el-label class="mr5 vbm">装置高度(m)</el-label>
											</el-col>
											<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
												<el-input-number v-model="zdbw.zzl.zzgd" size="small" :min="0"></el-input-number>
											</el-col>
											<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
										</el-row>
										<el-row class="tr mb5">
											<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
												<el-label class="mr5 vbm">技术负责人</el-label>
											</el-col>
											<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
												<el-input size="small" v-model="zdbw.zzl.jsfzr" placeholder="技术负责人" class="searchSelect"></el-input>
											</el-col>
											<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
												<el-label class="mr5 vbm">技术负责人电话</el-label>
											</el-col>
											<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
													<el-input size="small" v-model="zdbw.zzl.jsfzrdh" placeholder="技术负责人电话" class="searchSelect"></el-input>
											</el-col>
											<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
										</el-row>
										<el-row class="tr mb5">
											<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
												<el-label class="mr5 vbm">原料信息</el-label>
											</el-col>
											<el-col :xs="20" :sm="20" :md="20" :lg="20" :xl="20">
												<el-input size="small" type="textarea" :autosize="{ minRows: 1, maxRows: 4}" v-model="zdbw.zzl.ylxx" placeholder="原料信息" class="searchSelect"></el-input>
											</el-col>
											<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
										</el-row>
										<el-row class="tr mb5">
											<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
												<el-label class="mr5 vbm">产物信息</el-label>
											</el-col>
											<el-col :xs="20" :sm="20" :md="20" :lg="20" :xl="20">
												<el-input size="small" type="textarea" :autosize="{ minRows: 1, maxRows: 4}" v-model="zdbw.zzl.cwxx" placeholder="产物信息" class="searchSelect"></el-input>
											</el-col>
											<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
										</el-row>
										<el-row class="tr mb5">
											<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
												<el-label class="mr5 vbm">工艺流程</el-label>
											</el-col>
											<el-col :xs="20" :sm="20" :md="20" :lg="20" :xl="20">
												<el-input size="small" type="textarea" :autosize="{ minRows: 1, maxRows: 4}" v-model="zdbw.zzl.gylc" placeholder="工艺流程" class="searchSelect"></el-input>
											</el-col>
											<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
										</el-row>
									</div>
									
									<div v-if="zdbw.zdbwlx === '30'">
										<el-row class="tr"></el-row>
										<el-row class="tr mb5">
											<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
												<el-label class="mr5 vbm">储罐数量</el-label>
											</el-col>
											<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
												<el-input-number v-model="zdbw.cgl.cgsl" size="small" :min="0" onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" ></el-input-number>
											</el-col>
											<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
												<el-label class="mr5 vbm">储罐间隔(m)</el-label>
											</el-col>
											<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
												<el-input-number v-model="zdbw.cgl.cgjg" size="small" :min="0"></el-input-number>
											</el-col>
											<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
										</el-row>
										<el-row class="tr mb5">
											<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
												<el-label class="mr5 vbm">总容积(m3)</el-label>
											</el-col>
											<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
												<el-input-number v-model="zdbw.cgl.zrj" size="small" :min="0" onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" ></el-input-number>
											</el-col>
											<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
												<el-label class="mr5 vbm">存储介质描述</el-label>
											</el-col>
											<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
												<el-input v-model="zdbw.cgl.ccjzms" size="small" type="textarea" :autosize="{ minRows: 1, maxRows: 4}"  placeholder="存储介质描述" class="searchSelect"></el-input>
											</el-col>
											<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
										</el-row>
										<el-row class="tr mb5">
											<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
												<el-label class="mr5 vbm">技术负责人</el-label>
											</el-col>
											<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
												<el-input size="small" v-model="zdbw.cgl.jsfzr" placeholder="技术负责人" class="searchSelect"></el-input>
											</el-col>
											<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
												<el-label class="mr5 vbm">技术负责人电话</el-label>
											</el-col>
											<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
													<el-input size="small" v-model="zdbw.cgl.jsfzrdh" placeholder="技术负责人电话" class="searchSelect"></el-input>
											</el-col>
											<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
										</el-row>
										<el-row class="tr mb5">
											<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
												<el-label class="mr5 vbm">毗邻情况(东)</el-label>
											</el-col>
											<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
												<el-input size="small" v-model="zdbw.cgl.pkqkd" placeholder="毗邻情况(东)" class="searchSelect"></el-input>
											</el-col>
											<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
												<el-label class="mr5 vbm">毗邻情况(南)</el-label>
											</el-col>
											<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
												<el-input size="small" v-model="zdbw.cgl.pkqkn" placeholder="毗邻情况(南)" class="searchSelect"></el-input>
											</el-col>
											<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
										</el-row>
										<el-row class="tr mb5">
											<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
												<el-label class="mr5 vbm">毗邻情况(西)</el-label>
											</el-col>
											<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
												<el-input size="small" v-model="zdbw.cgl.pkqkx" placeholder="毗邻情况(西)" class="searchSelect"></el-input>
											</el-col>
											<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
												<el-label class="mr5 vbm">毗邻情况(北)</el-label>
											</el-col>
											<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
												<el-input size="small" v-model="zdbw.cgl.pkqkb" placeholder="毗邻情况(北)" class="searchSelect"></el-input>
											</el-col>
											<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
										</el-row>

										<!-- 储罐信息 -->
										<el-row class="tr mb5 mt5" style="border-bottom: 1px solid #d1dbe5; line-height: 29px;">
											<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3"><i class="el-icon-arrow-right"></i>储罐信息</el-col>
											<el-col :xs="9" :sm="9" :md="9" :lg="9" :xl="9">&nbsp;</el-col>
											<el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
												<el-button type="primary" icon="plus" size="small" style="float:right;" @click="addDomainCg(index)"></el-button>
											</el-col>
										</el-row>
										<div v-for="(cg,index1) in zdbw.cgl.cgList" :key="cg.key" :prop="'editForm.zdbwList[' + index + '].cgl.' + index1 + '.value'">
											<el-row class="tr mb5">
												<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
													<el-label class="mr5 vbm">储罐{{index1+1}}名称</el-label>
												</el-col>
												<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
													<el-input size="small" v-model="cg.cgmc" placeholder="储罐名称" class="searchSelect"></el-input>	
												</el-col>
												<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
													<el-label class="mr5 vbm">储罐{{index1+1}}类型</el-label>
												</el-col>
												<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
													<el-select size="small" v-model="cg.cglx" placeholder="请选择" class="searchSelect" clearable>
														<el-option v-for="item in cglxData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
													</el-select>
												</el-col>
												<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">
													<el-button type="danger" icon="minus" size="small" @click.prevent="removeDomainCg(index,cg)" class="r" style="margin:3px 0px 0px"></el-button>
												</el-col>
											</el-row>
											<el-row class="tr mb5">
												<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
													<el-label class="mr5 vbm">储罐{{index1+1}}直径(m)</el-label>
												</el-col>
												<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
													<el-input-number v-model="cg.cgzj" size="small" :min="0" :max="99999999.99"></el-input-number>
												</el-col>
												<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
													<el-label class="mr5 vbm">储罐{{index1+1}}高度(m)</el-label>
												</el-col>
												<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
													<el-input-number v-model="cg.cggd" size="small" :min="0" :max="99999999.99"></el-input-number>	
												</el-col>
												<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
											</el-row>
											<el-row class="tr mb5">
												<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
													<el-label class="mr5 vbm">储罐{{index1+1}}周长(m)</el-label>
												</el-col>
												<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
													<el-input-number v-model="cg.cgzc" size="small" :min="0" :max="99999999.99"></el-input-number>
												</el-col>
												<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
													<el-label class="mr5 vbm">罐顶{{index1+1}}面积(㎡)</el-label>
												</el-col>
												<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
													<el-input-number v-model="cg.gdmj" size="small" :min="0" :max="99999999.99"></el-input-number>
												</el-col>
												<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
											</el-row>
											<el-row class="tr mb5">
												<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
													<el-label class="mr5 vbm">工作压力</el-label>
												</el-col>
												<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
													<el-input size="small" v-model="cg.gzyl" placeholder="工作压力" class="searchSelect"></el-input>
												</el-col>
												<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
													<el-label class="mr5 vbm">存储温度</el-label>
												</el-col>
												<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
													<el-input size="small" v-model="cg.ccwd" placeholder="工作压力" class="searchSelect"></el-input>
												</el-col>
												<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
											</el-row>
											<el-row class="tr mb5">
												<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
													<el-label class="mr5 vbm">存储介质名称</el-label>
												</el-col>
												<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
													<el-input size="small" v-model="cg.ccjzmc" placeholder="存储介质名称" class="searchSelect"></el-input>
												</el-col>
												<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
													<el-label class="mr5 vbm">介质理化性质</el-label>
												</el-col>
												<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
													<el-input size="small" v-model="cg.ccjzlhtx" type="textarea" :autosize="{ minRows: 1, maxRows: 4}" placeholder="存储介质理化性质" class="searchSelect"></el-input>	
												</el-col>
												<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
											</el-row>
											<el-row class="tr mb5">
												<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
													<el-label class="mr5 vbm">介质实际储量(m3)</el-label>
												</el-col>
												<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
													<el-input-number v-model="cg.ccjzsjcl" size="small" :min="0" :max="99999999.99"></el-input-number>
												</el-col>
												<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
													<el-label class="mr5 vbm">介质液位高度(m)</el-label>
												</el-col>
												<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
													<el-input-number v-model="cg.ccjzywgd" size="small" :min="0" :max="99999999.99"></el-input-number>	
												</el-col>
												<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
											</el-row>
											<el-row class="tr mb5">
												<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
													<el-label class="mr5 vbm">介质备注</el-label>
												</el-col>
												<el-col :xs="20" :sm="20" :md="20" :lg="20" :xl="20">
													<el-input size="small" v-model="cg.bz" type="textarea" :autosize="{ minRows: 1, maxRows: 4}" placeholder="介质备注" class="searchSelect"></el-input>	
												</el-col>
												<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
											</el-row>
											<el-row class="tr">&nbsp;</el-row>
										</div>
									</div>
									<el-row class="tr mb5">
										<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
											<el-label class="mr5 vbm">危险性分析</el-label>
										</el-col>
										<el-col :xs="20" :sm="20" :md="20" :lg="20" :xl="20">
											<el-input size="small" type="textarea" :autosize="{ minRows: 1, maxRows: 4}" v-model="zdbw.wxxfx" placeholder="危险性分析" class="searchSelect"></el-input>
										</el-col>
										<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
									</el-row>
									<el-row class="tr mb5">
										<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
											<el-label class="mr5 vbm">注意事项</el-label>
										</el-col>
										<el-col :xs="20" :sm="20" :md="20" :lg="20" :xl="20">
											<el-input size="small" type="textarea" :autosize="{ minRows: 1, maxRows: 4}" v-model="zdbw.zysx" placeholder="注意事项" class="searchSelect"></el-input>
										</el-col>
										<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
									</el-row>
									<el-row class="tr mb5">
										<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
											<el-label class="mr5 vbm">备注</el-label>
										</el-col>
										<el-col :xs="20" :sm="20" :md="20" :lg="20" :xl="20">
											<el-input size="small" type="textarea" :autosize="{ minRows: 1, maxRows: 4}" v-model="zdbw.bz" placeholder="备注" class="searchSelect"></el-input>
										</el-col>
										<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
									</el-row>
								</el-card>	
							</div>
						</el-form>

						<el-row class="mb5 row-edit-subtitle">
							<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
								<strong class="col-edit-subtitle">备注</strong>
							</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">备注</el-label>
							</el-col>
							<el-col :xs="20" :sm="20" :md="20" :lg="20" :xl="20">
								<el-input size="small" v-model="editForm.bz" placeholder="备注" type="textarea" :autosize="{ minRows: 2, maxRows: 4}"></el-input>
							</el-col>
						</el-row>
					</el-form>
				</div>

				<el-row class="mt20 mb20">
					<el-row>
						<el-col :xs="10" :sm="10" :md="10" :lg="10" :xl="10">&nbsp;</el-col>
						<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
							<el-button type="primary" icon="close" size="small" class="btn_submit" @click="cancel"> 取消</el-button>
							<el-button type="success" icon="check" size="small" class="btn_save" @click="save('editForm')">保存</el-button>
						</el-col>
						<el-col :xs="10" :sm="10" :md="10" :lg="10" :xl="10">&nbsp;</el-col>
					</el-row>
				</el-row>

				<!--选择所属建筑界面-->
				<el-dialog title="选择所属建筑" :visible.sync="buildingListVisible" :close-on-click-modal="false">
					<div id="tableView" v-loading="loading_building" element-loading-text="加载中">
						<el-row>
							<el-form :inline="true" class="el-form demo-form-inline">
								<el-row class="mb5">
									<el-col :span="12" class="searchInline">
										<label class="el-form-item__label" style="width:95px;" class="tr vbm">建筑名称</label>
										<el-input size="small" v-model="searchForm_building.jzmc" placeholder="建筑名称" clearable></el-input>
									</el-col>
									<el-col :span="12" class="btnSearchPlus">
										<el-button type="primary" icon="search" size="small" @click="getJzxxList('click',jzIndex)">查询</el-button>
										<el-button type="clear" icon="delete" size="small" @click="clearJzxxList">清空</el-button>
									</el-col>
								</el-row>
							</el-form>
						</el-row>
						<div class="table_container">
							<el-table border id="table" :data="tableData_building.slice((currentPage_building-1)*pageSize_building,currentPage_building*pageSize_building)"
								class="tableStyle" :height="tableheight" @row-click="selectRow_building">
								<el-table-column type="index" label="序号" show-overflow-tooltip width="65" align="center"></el-table-column>
								<el-table-column prop="jzmc" label="建筑名称" show-overflow-tooltip min-width="33%" align="center"></el-table-column>
								<el-table-column prop="jzlxmc" label="建筑类型" show-overflow-tooltip min-width="27%" align="center"></el-table-column>
								<el-table-column prop="jzwz" label="建筑位置" show-overflow-tooltip min-width="30%" align="center"></el-table-column>
							</el-table>
							<!--列表底部工具条和分页符-->
							<el-row type="flex" justify="end">
								<el-col :span="18">
									<el-pagination @current-change="currentPageChange_building" :current-page="currentPage_building" :page-size="pageSize_building"
										layout="total, prev, pager, next, jumper" :total=parseInt(total_building)>
									</el-pagination>
								</el-col>
							</el-row>
						</div>
					</div>
				</el-dialog>
			</div>
		</div>
	</div>
</body>
<script src="../../static/js/planobject/importantunits_edit.js"></script>

</html>