<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="../../static/css/digitalplan/digitalplan_add.css">
	<title>建筑信息编辑</title>
</head>

<body class="fw f14 main-index-body">
	<div id="app">
		<div class="main-box">
			<div class="main-container" v-loading="loading1" element-loading-text="加载中">
				<!-- 面包屑 -->
				<div id="breadcrumb_box"></div>
				<!--基本信息-->
				<div id="inforView" class="pt15">
					<el-form label-width="75px" :inline="true" class="el-form demo-form-inline" ref="editForm" :model="editForm" label-position="right">
						<el-row class="mb5 row-edit-subtitle">
							<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
								<strong class="col-edit-subtitle">基本信息</strong>
							</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">
									<span style="color:red;">* </span>建筑名称</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input v-model="editForm.jzmc" size="small" placeholder="建筑名称"></el-input>
							</el-col>
							<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
								<el-label class="mr5 vbm">建筑位置</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input v-model="editForm.jzwz" size="small" placeholder="建筑位置"></el-input>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">建筑使用性质</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-cascader :options="JzsyxzDataTree" :props="defaultProps" size="small" v-model="editForm.jzsyxz" placeholder="建筑使用性质" class="searchSelect"
									 clearable change-on-select :show-all-levels="false"></el-cascader>
							</el-col>
							<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
								<el-label class="mr5 vbm">建筑结构</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-select size="small" v-model="editForm.jzjg" placeholder="建筑结构" clearable>
									<el-option v-for="item in JZJG_data" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
								</el-select>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>
						
						<el-row class="tr mb5">
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">占地面积</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input-number size="small" :precision="2" :min="0" v-model="editForm.zdmj" placeholder="占地面积"></el-input-number>
							</el-col>
							<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
								<el-label class="mr5 vbm">建筑面积</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input-number size="small" :precision="2" :min="0" v-model="editForm.jzmj" placeholder="建筑面积"></el-input-number>
							</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">地上高度(m)</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input-number size="small" :precision="2" :step="0.1" :min="0" v-model="editForm.dsgd" placeholder="地上高度"></el-input-number>
							</el-col>
							<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
								<el-label class="mr5 vbm">地下高度(m)</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input-number size="small" :precision="2" :step="0.1" :min="0" v-model="editForm.dxgd" placeholder="地下高度"></el-input-number>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">地上层数</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input-number size="small" :precision="2" :min="0" v-model="editForm.dscs" placeholder="地上层数"></el-input-number>
							</el-col>
							<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
								<el-label class="mr5 vbm">地下层数</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input-number size="small" :precision="2" :min="0" v-model="editForm.dxcs" placeholder="地下层数"></el-input-number>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">预计到达时长</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input v-model="editForm.yjddsc" size="small" placeholder="预计到达时长(min)"></el-input>
							</el-col>
							<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
								<el-label class="mr5 vbm">辖区行车路线</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input v-model="editForm.xqxclx" size="small" type="textarea" :autosize="{ minRows: 1, maxRows: 4}" placeholder="辖区行车路线"></el-input>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">避难层</el-label>
							</el-col>
							<el-col :xs="20" :sm="20" :md="20" :lg="20" :xl="20">
								<el-input v-model="editForm.bnc" size="small" type="textarea" :autosize="{ minRows: 1, maxRows: 4}" placeholder="避难层"></el-input>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">功能描述</el-label>
							</el-col>
							<el-col :xs="20" :sm="20" :md="20" :lg="20" :xl="20">
								<el-input v-model="editForm.gnms" size="small" type="textarea" :autosize="{ minRows: 1, maxRows: 4}" placeholder="功能描述"></el-input>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>
						<el-row class="mb5 row-edit-subtitle">
								<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
									<strong class="col-edit-subtitle">备注</strong>
								</el-col>
							</el-row>
						<el-row class="tr mb5">
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">备注</el-label>
							</el-col>
							<el-col :xs="20" :sm="20" :md="20" :lg="20" :xl="20">
								<el-input v-model="editForm.bz" size="small" type="textarea" :autosize="{ minRows: 2, maxRows: 4}" placeholder="备注"></el-input>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>
						<el-row class="mt35 mb20">
							<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24"  class="editform-button">
								<el-button type="clear" icon="close" size="small" class="btn_cancle" @click="cancel"> 返回</el-button>
								<el-button type="success" icon="check" size="small" class="btn_submit" @click="submit('editForm')">提交</el-button>
							</el-col>
						</el-row>
					</el-form>
				</el-dialog>
			</div>
		</div>
	</div>
</body>
<script src="../../static/js/common/config.js"></script>
<script src="../../static/js/jxcsplan/jxcsjzxx_edit.js"></script>

</html>