<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>统计分析</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" type="text/css" href="../../static/css/element.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/zxx.lib.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/app.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/sync.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/formal.css">
    <link href="../../static/css/screenb.css" id="css" rel="stylesheet" type="text/css" />
    <style>
    body{
        width: 100%;
        padding: 0px !important;
        margin:0px !important;
    }
    </style>
</head>
<body class="fw map-bg m0">
    <div id="app" style="height: 100%;" class="bk" >
        <el-carousel :height="height" >
            <el-carousel-item :key="1">
                <iframe src="big_screen_overview.html" height="100%" width="100%" frameborder=0></iframe>
            </el-carousel-item>
            <el-carousel-item :key="2">
                <iframe src="big_screen_sync.html" height="100%" width="100%" frameborder=0></iframe>
            </el-carousel-item>
            <!-- <el-carousel-item :key="3">
                <iframe src="big_screen_planA.html" height="100%" width="100%" frameborder=0></iframe>
            </el-carousel-item>
            <el-carousel-item :key="4">
                <iframe src="big_screen_planB.html" height="100%" width="100%" frameborder=0></iframe>
            </el-carousel-item> -->
        </el-carousel>
    </div>
    <div class="application-back">
        <a href="../all.html?url=/home">
            <p class="m0 l">
                <img src="../../static/images/icon-back.png" />
            </p>
            <div>进入管理系统</div>
        </a>
    </div>
</body>
<!-- 引入js -->
<script type="text/javascript" src="../../static/js/zzzlib/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../../static/js/zzzlib/vue.js"></script>
<script type="text/javascript" src="../../static/js/zzzlib/element.js"></script>
<script>
    $(function () {
            var userAgent = navigator.userAgent; //取得浏览器的userAgent字符串 
            var isOpera = userAgent.indexOf("Opera") > -1; //判断是否Opera浏览器 
            var isIE = userAgent.indexOf("compatible") > -1 && userAgent.indexOf("MSIE") > -1 && !isOpera; //判断是否IE浏览器 
            var isEdge = userAgent.indexOf("Windows NT 6.1; Trident/7.0;") > -1 && !isIE; //判断是否IE的Edge浏览器 
            var isFF = userAgent.indexOf("Firefox") > -1; //判断是否Firefox浏览器 
            var isSafari = userAgent.indexOf("Safari") > -1 && userAgent.indexOf("Chrome") == -1; //判断是否Safari浏览器 
            var isChrome = userAgent.indexOf("Chrome") > -1 && userAgent.indexOf("Safari") > -1; //判断Chrome浏览器 
            //判断是否宽屏
           
            var winWide = document.body.clientHeight;
            var wideScreen = false;
            if (isChrome) {
                if (winWide <= 800) {//及以下分辨率
                    $("#css").attr("href", "../../static/css/screenb.css");
                }
                else {
                    $("#css").attr("href", "../../static/css/screena.css");
                    wideScreen = true; //是宽屏
                }
            }
            else {
                if (winWide <= 800) {//及以下分辨率
                    $("#css").attr("href", "../../static/css/screenb.css");
                }
                else {
                    $("#css").attr("href", "../../static/css/screena.css");
                    wideScreen = true; //是宽屏
                }
            }
        })
    </script> 
<script>
    var vm = new Vue({
        el: "#app",
        data: {      
          height:'690px'
        }
    })
</script>

</html>