<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="../../static/css/basicinfo/equipment_add.css">
	<title>新增装备器材</title>
</head>

<body class="fw f14 main-index-body">
	<div id="app">
		<div class="main-box">
			<div class="main-container" v-loading="loading" element-loading-text="加载中">
				<!-- 面包屑 -->
				<div id="breadcrumb_box"></div>
				<div id="inforView">
					<el-form ref="addForm" :model="addForm" label-width="120px" :rules="inforRules">
						<el-row class="mb5" style="border-bottom:1px solid #20a0ff;line-height: 29px;">
							<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
								<strong style="color: #20a0ff;">基本信息</strong>
							</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-form-item label="装备名称" prop="zbmc">
									<el-input v-model="addForm.zbmc" maxlength="50" size="small" placeholder="装备名称" clearable></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
							<el-col :span="11">
								<el-form-item label="装备编码" prop="zbbm">
									<el-input v-model="addForm.zbbm" maxlength="25" size="small" placeholder="装备编码" clearable></el-input>
								</el-form-item>
							</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-form-item label="装备类型" prop="zblx">
									<el-cascader :options="allTypesDataTree" :props="defaultProps" size="small" v-model="addForm.zblx" placeholder="请选择" class="searchSelect"
									 clearable change-on-select :show-all-levels="false"></el-cascader>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
							<el-col :span="11">
								<el-form-item label="生产厂家" prop="sccj">
									<el-input size="small" v-model="addForm.sccj" maxlength="100" placeholder="生产厂家" clearable></el-input>
								</el-form-item>
							</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-form-item label="行政区划" prop="xzqh">
									<el-cascader :options="allXzqhDataTree" :props="defaultProps" size="small" v-model="addForm.xzqh" placeholder="请选择" class="searchSelect"
									 clearable change-on-select :show-all-levels="false"></el-cascader>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
							<el-col :span="11">
								<el-form-item label="所属队站" prop="ssdz" class="is-required">
									<el-cascader :options="allSsdzDataTree" :props="ssdzProps" size="small" v-model="addForm.ssdz" placeholder="请选择" class="searchSelect"
									 clearable change-on-select :show-all-levels="true"></el-cascader>
								</el-form-item>
							</el-col>
						</el-row>
						<el-row class="mb5" style="border-bottom:1px solid #20a0ff;line-height: 29px;">
							<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
								<strong style="color: #20a0ff;">储备信息</strong>
							</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-form-item label="库存数量(可用)" prop="kysl">
									<el-input-number v-model="addForm.kysl" onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" size="small"
									 :min="0" :max="9999999999"></el-input-number>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
							<el-col :span="11">
								<el-form-item label="库存数量(损坏)" prop="shsl">
									<el-input-number v-model="addForm.shsl" onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" size="small"
									 :min="0" :max="9999999999"></el-input-number>
								</el-form-item>
							</el-col>
						</el-row>
						<el-row class="mb5" style="border-bottom:1px solid #20a0ff;line-height: 29px;">
							<el-col :span="12">
								<strong style="color: #20a0ff;">车辆装载信息</strong>
							</el-col>
							<el-col :span="12">
								<el-button type="primary" icon="plus" size="small" class="r" @click="addDomain"></el-button>
							</el-col>
						</el-row>
						<el-row v-for="(domain, index) in engineForm" :key="domain.key" :prop="'engineForm.' + index + '.value'">
							<el-col :span="11">
								<el-form-item label="车辆名称" prop="clmc">
									<el-input v-model="domain.clmc" maxlength="50" size="small" placeholder="车辆名称" disabled></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="1" class="tl">
								<el-button icon="search" size="small" style="border: none;background-color: #FFFFFF;" @click="engineList('init',index)" class="l"></el-button>
							</el-col>
							<el-col :span="11">
								<el-form-item label="装载数量" prop="clzzs">
									<el-input-number v-model="domain.clzzs" onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" size="small"
									 placeholder="装载数量" :min="0" :max="99999"></el-input-number>
								</el-form-item>
							</el-col>
							<el-col :span="1">
								<el-button type="danger" icon="minus " size="small" @click.prevent="removeDomain(domain)" class="r"></el-button>
							</el-col>
						</el-row>
						<el-row class="mb5" style="border-bottom:1px solid #20a0ff;line-height: 29px;">
							<strong style="color: #20a0ff;">备注</strong>
						</el-row>
						<el-row>
							<el-col :span="23">
								<el-form-item label="备注" prop="bz">
									<el-input size="small" v-model="addForm.bz" maxlength="200" type="textarea" :autosize="{ minRows: 2, maxRows: 4}" placeholder="备注"></el-input>
								</el-form-item>
							</el-col>
						</el-row>
					</el-form>
				</div>
				<el-row class="mt15">
					<el-row class="editform-button">
						<el-button type="clear" icon="close" size="small" class="btn_submit" @click="cancel"> 取消</el-button>
						<el-button type="success" icon="check" size="small" class="btn_save" @click="save('addForm')">保存</el-button>
					</el-row>
				</el-row>
				<!--选择消防车辆界面-->
				<el-dialog title="选择消防车辆" :visible.sync="engineListVisible" :close-on-click-modal="false">
					<div id="tableView" v-loading="loading_engine" element-loading-text="加载中">
						<el-row>
							<el-form :inline="true" class="el-form demo-form-inline">
								<el-row class="mb5">
									<el-col :span="9" class="searchInline">
										<label class="el-form-item__label" style="width:95px;" class="tr vbm">车辆名称</label>
										<el-input size="small" v-model="searchForm.clmc" placeholder="车辆名称" clearable></el-input>
									</el-col>
									<el-col :span="9" class="searchInline">
										<label class="el-form-item__label" style="width:95px;" class="tr vbm">车牌号码</label>
										<el-input size="small" v-model="searchForm.cphm" placeholder="车牌号码" clearable></el-input>
									</el-col>
									<el-col :span="6" class="btnSearchPlus">
										<el-button type="primary" icon="search" size="small" @click="engineList('click',clIndex)">查询</el-button>
										<el-button type="clear" icon="delete" size="small" @click="clearEngineList">清空</el-button>
									</el-col>
								</el-row>
							</el-form>
						</el-row>
						<div class="table_container">
							<el-table border id="table" :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)" class="tableStyle" :height="tableheight"
							 @row-click="selectRow">
								<el-table-column type="index" label="序号" show-overflow-tooltip width="65" align="center"></el-table-column>
								<el-table-column prop="clmc" label="车辆名称" show-overflow-tooltip min-width="40%" align="center"></el-table-column>
								<el-table-column prop="cphm" label="车牌号码" show-overflow-tooltip min-width="25%" align="center"></el-table-column>
								<el-table-column prop="ssdzmc" label="所属队站" show-overflow-tooltip min-width="25%" align="center"></el-table-column>
							</el-table>
							<!--列表底部工具条和分页符-->
							<el-row type="flex" justify="end">
								<el-col :span="18">
									<el-pagination @current-change="currentPageChange" :current-page="currentPage" :page-size="pageSize" layout="total, prev, pager, next, jumper"
									 :total=parseInt(total)>
									</el-pagination>
								</el-col>
							</el-row>
						</div>
					</div>
				</el-dialog>
			</div>
		</div>
	</div>
</body>
<script src="../../static/js/basicinfo/equipment_add.js"></script>

</html>