<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>消防队站编辑</title>
</head>

<body class="fw f14 main-index-body">
	<div id="app">
		<div class="main-box">
			<div class="main-container" v-loading="loading" element-loading-text="加载中">
				<!-- 面包屑 -->
				<div id="breadcrumb_box"></div>
				<div id="inforView" class="pt15">
					<el-form label-width="140px" ref="editForm" :model="editForm" :rules="editFormRules">
						<el-row class="mb5 row-edit-subtitle">
							<el-col :span="24">
								<strong class="col-edit-subtitle">基本信息</strong>
							</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-form-item label="队站名称" prop="dzmc">
									<el-input v-model="editForm.dzmc" placeholder="队站名称" size="small" auto-complete="off" maxlength="50"></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
							<el-col :span="11">
								<el-form-item label="队站简称" prop="dzjc">
									<el-input v-model="editForm.dzjc" placeholder="队站简称" size="small" auto-complete="off" maxlength="25"></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
						</el-row>

						<el-row>
							<el-col :span="11">
								<el-form-item label="队站类型" prop="dzlx" class="is-required">
									<el-cascader :options="dzlxData" :props="props" size="small" v-model="editForm.dzlx" placeholder="请选择" class="searchSelect"
									clearable change-on-select :show-all-levels="true" @change="dzlxChange"></el-cascader>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
							<el-col :span="11">
								<el-form-item label="队站编码" prop="dzbm">
									<el-input v-model="editForm.dzbm" placeholder="队站编码" size="small" auto-complete="off" maxlength="10"></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
						</el-row>
						<el-row>
							<el-col :span="23">
								<el-form-item label="上级队站" prop="sjdzid" class="is-required">
									<el-cascader :options="sjdzData" :props="sjdzprops" size="small" v-model="editForm.sjdzid" placeholder="请选择" class="searchSelect"
									clearable change-on-select :show-all-levels="true"></el-cascader>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
						</el-row>

						<el-row class="mb5 row-edit-subtitle">
							<el-col :span=24>
								<strong class="col-edit-subtitle">位置及管辖信息</strong>
							</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-form-item label="队站地址" prop="dzdz">
									<el-input size="small" v-model="editForm.dzdz" placeholder="队站地址" maxlength="50"></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
							<el-col :span="11">
								<el-form-item label="行政区划" prop="xzqh">
									<el-cascader :options="xzqhData" :props="props" size="small" v-model="editForm.xzqh" placeholder="请选择" class="searchSelect"
									clearable change-on-select :show-all-levels="true"></el-cascader>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-form-item label="经度" prop="lon">
									<el-input-number size="small" v-model="editForm.lon" placeholder="经度" :min="-99999.9999999999" :max="99999.9999999999"></el-input-number>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
							<el-col :span="11">
								<el-form-item label="纬度" prop="lat">
									<el-input-number type="number" size="small" v-model="editForm.lat" placeholder="纬度" :min="-99999.9999999999" :max="99999.9999999999"></el-input-number>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-form-item label="GIS_X" prop="gisX">
									<el-input-number type="number" size="small" v-model="editForm.gisX" placeholder="GIS_X" :min="-99999.9999999999" :max="99999.9999999999"></el-input-number>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
							<el-col :span="11">
								<el-form-item label="GIS_Y" prop="gisY">
									<el-input-number type="number" size="small" v-model="editForm.gisY" placeholder="GIS_Y" :min="-99999.9999999999" :max="99999.9999999999"></el-input-number>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-form-item label="管辖水源数" prop="gxsys">
									<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" v-model="editForm.gxsys" placeholder="管辖水源数" :min="0" :max="9999999999" size="small"></el-input-number>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
							<el-col :span="11">
								<el-form-item label="管辖重点单位数" prop="gxzddws">
									<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" v-model="editForm.gxzddws" placeholder="管辖重点单位数" :min="0" :max="9999999999" size="small"></el-input-number>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-form-item label="辖区范围" prop="xqfw">
									<el-input size="small" v-model="editForm.xqfw" placeholder="辖区范围" maxlength="100"></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
							<el-col :span="11">
								<el-form-item label="辖区面积(m²)" prop="xqmj">
									<el-input-number type="number" size="small" v-model="editForm.xqmj" placeholder="辖区面积" :min="0" :max="9999999999.99999"></el-input-number>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
						</el-row>

						<el-row class="mb5 row-edit-subtitle">
							<el-col :span=24>
								<strong class="col-edit-subtitle">联系信息</strong>
							</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-form-item label="联系人" prop="lxr">
									<el-input size="small" v-model="editForm.lxr" placeholder="联系人" maxlength="25"></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
							<el-col :span="11">
								<el-form-item label="联系电话" prop="lxdh">
									<el-input size="small" v-model="editForm.lxdh" placeholder="联系电话" maxlength="25"></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-form-item label="传真号码" prop="czhm">
									<el-input size="small" v-model="editForm.czhm" placeholder="传真号码" maxlength="25"></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
							<el-col :span="12">&nbsp;</el-col>
						</el-row>
						
						<el-row class="mb5 row-edit-subtitle">
							<el-col :span=24>
								<strong class="col-edit-subtitle">装备信息</strong>
							</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-form-item label="执勤车辆数" prop="zqcls">
									<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" size="small" v-model="editForm.zqcls" placeholder="执勤车辆数(台)" :min="0" :max="9999999999"></el-input-number>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
							<el-col :span="11">
								<el-form-item label="装备器材数(个)" prop="zbqcs">
									<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" size="small" v-model="editForm.zbqcs" placeholder="装备器材数(个)" :min="0" :max="9999999999"></el-input-number>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-form-item label="灭火剂总量(t)" prop="mhjzl">
									<el-input-number size="small" v-model="editForm.mhjzl" placeholder="灭火剂总量(t)" :min="0" :max="99999999.99"></el-input-number>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
							<el-col :span="12">&nbsp;</el-col>
						</el-row>

						<!-- 总队 -->
						<div v-show="isZongDui">
							<el-row class="mb5 row-edit-subtitle">
								<el-col :span=24>
									<strong class="col-edit-subtitle">总队信息</strong>
								</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item label="现役官兵人数" prop="zongdVO.xygbrs">
										<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" size="small" v-model="editForm.zongdVO.xygbrs" placeholder="现役官兵人数" :min="0" :max="9999999999"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item label="政府专职消防员数" prop="zongdVO.zfzzxfys">
										<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" size="small" v-model="editForm.zongdVO.zfzzxfys" placeholder="政府专职消防员数" :min="0" :max="9999999999"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item label="文职雇员数" prop="zongdVO.wzgys">
										<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" size="small" v-model="editForm.zongdVO.wzgys" placeholder="文职雇员数" :min="0" :max="9999999999"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="12">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item label="下辖支队数" prop="zongdVO.xxzhids">
										<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" size="small" v-model="editForm.zongdVO.xxzhids" placeholder="下辖支队数" :min="0" :max="9999999999"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item label="下辖中队数" prop="zongdVO.xxzhongds">
										<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" size="small" v-model="editForm.zongdVO.xxzhongds" placeholder="下辖中队数" :min="0" :max="9999999999"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item label="总队长姓名" prop="zongdVO.zdzxm">
										<el-input size="small" v-model="editForm.zongdVO.zdzxm" placeholder="总队长姓名" maxlength="25"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item label="总队长联系方式" prop="zongdVO.zdzlxfs">
										<el-input size="small" v-model="editForm.zongdVO.zdzlxfs" placeholder="总队长联系方式" maxlength="25"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item label="总队政委姓名" prop="zongdVO.zdzwxm">
										<el-input size="small" v-model="editForm.zongdVO.zdzwxm" placeholder="总队政委姓名" maxlength="25"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item label="总队政委联系方式" prop="zongdVO.zdzwlxfs">
										<el-input size="small" v-model="editForm.zongdVO.zdzwlxfs" placeholder="总队政委联系方式" maxlength="25"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
						</div>

						<!-- 支队 -->
						<div v-show="isZhiDui">
							<el-row class="mb5 row-edit-subtitle">
								<el-col :span=24>
									<strong class="col-edit-subtitle">支队信息</strong>
								</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item label="现役官兵人数" prop="zhidVO.xygbrs">
										<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" size="small" v-model="editForm.zhidVO.xygbrs" placeholder="现役官兵人数" :min="0" :max="9999999999"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item label="政府专职消防员数" prop="zhidVO.zfzzxfys">
										<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" size="small" v-model="editForm.zhidVO.zfzzxfys" placeholder="政府专职消防员数" :min="0" :max="9999999999"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item label="消防文员数" prop="zhidVO.xfwys">
										<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" size="small" v-model="editForm.zhidVO.xfwys" placeholder="消防文员数" :min="0" :max="9999999999"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item label="是否独立接警" prop="zhidVO.sfdljj">
										<el-select size="small" v-model="editForm.zhidVO.sfdljj" placeholder="请选择" class="searchSelect" clearable>
											<el-option v-for="item in sfdljjData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
										</el-select>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item label="下辖大队数" prop="zhidVO.xxdads">
										<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" size="small" v-model="editForm.zhidVO.xxdads" placeholder="下辖大队数" :min="0" :max="9999999999"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item label="下辖中队数" prop="zhidVO.xxzhongds">
										<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" size="small" v-model="editForm.zhidVO.xxzhongds" placeholder="下辖中队数" :min="0" :max="9999999999"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item label="支队长姓名" prop="zhidVO.zdzxm">
										<el-input size="small" v-model="editForm.zhidVO.zdzxm" placeholder="支队长姓名" maxlength="25"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item label="支队长联系方式" prop="zhidVO.zdzlxfs">
										<el-input size="small" v-model="editForm.zhidVO.zdzlxfs" placeholder="支队长联系方式" maxlength="25"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item label="支队政委姓名" prop="zhidVO.zdzwxm">
										<el-input size="small" v-model="editForm.zhidVO.zdzwxm" placeholder="支队政委姓名" maxlength="25"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item label="支队政委联系方式" prop="zhidVO.zdzwlxfs">
										<el-input size="small" v-model="editForm.zhidVO.zdzwlxfs" placeholder="支队政委联系方式" maxlength="25"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
						</div>

						<!-- 大队 -->
						<div v-show="isDaDui">
							<el-row class="mb5 row-edit-subtitle">
								<el-col :span=24>
									<strong class="col-edit-subtitle">大队信息</strong>
								</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item label="现役官兵人数" prop="dadVO.xygbrs">
										<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" size="small" v-model="editForm.dadVO.xygbrs" placeholder="现役官兵人数" :min="0" :max="9999999999"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item label="政府专职消防员数" prop="dadVO.zfzzxfys">
										<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" size="small" v-model="editForm.dadVO.zfzzxfys" placeholder="政府专职消防员数" :min="0" :max="9999999999"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item label="消防文员数" prop="dadVO.xfwys">
										<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" size="small" v-model="editForm.dadVO.xfwys" placeholder="消防文员数" :min="0" :max="9999999999"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item label="是否独立接警" prop="dadVO.sfdljj">
										<el-select size="small" v-model="editForm.dadVO.sfdljj" placeholder="请选择" class="searchSelect" clearable>
											<el-option v-for="item in sfdljjData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
										</el-select>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item label="下辖中队数" prop="dadVO.xxzhongds">
										<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" size="small" v-model="editForm.dadVO.xxzhongds" placeholder="下辖中队数" :min="0" :max="9999999999"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="12">&nbsp;</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item label="大队长姓名" prop="dadVO.ddzxm">
										<el-input size="small" v-model="editForm.dadVO.ddzxm" placeholder="大队长姓名" maxlength="25"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item label="大队长联系方式" prop="dadVO.ddzlxfs">
										<el-input size="small" v-model="editForm.dadVO.ddzlxfs" placeholder="大队长联系方式" maxlength="25"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item label="副大队长姓名" prop="dadVO.fddzxm">
										<el-input size="small" v-model="editForm.dadVO.fddzxm" placeholder="副大队长姓名" maxlength="25"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item label="副大队长联系方式" prop="dadVO.fddzlxfs">
										<el-input size="small" v-model="editForm.dadVO.fddzlxfs" placeholder="副大队长联系方式" maxlength="25"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item label="教导员姓名" prop="dadVO.jdyxm">
										<el-input size="small" v-model="editForm.dadVO.jdyxm" placeholder="教导员姓名" maxlength="25"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item label="教导员联系方式" prop="dadVO.jdylxfs">
										<el-input size="small" v-model="editForm.dadVO.jdylxfs" placeholder="教导员联系方式" maxlength="25"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item label="副教导员姓名" prop="dadVO.fjdyxm">
										<el-input size="small" v-model="editForm.dadVO.fjdyxm" placeholder="副教导员姓名" maxlength="25"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item label="副教导员联系方式" prop="dadVO.fjdylxfs">
										<el-input size="small" v-model="editForm.dadVO.fjdylxfs" placeholder="副教导员联系方式" maxlength="25"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
						</div>

						<!-- 中队 -->
						<div v-show="isZhongDui">
							<el-row class="mb5 row-edit-subtitle">
								<el-col :span=24>
									<strong class="col-edit-subtitle">中队信息</strong>
								</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item label="现役人数" prop="zhongdVO.xyrs">
										<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" size="small" v-model="editForm.zhongdVO.xyrs" placeholder="现役人数" :min="0" :max="9999999999"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item label="政府专职消防员数" prop="zhongdVO.zfzzxfys">
										<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" size="small" v-model="editForm.zhongdVO.zfzzxfys" placeholder="政府专职消防员数" :min="0" :max="9999999999"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item label="每日执勤人数" prop="zhongdVO.mrzqrs">
										<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" size="small" v-model="editForm.zhongdVO.mrzqrs" placeholder="每日执勤人数" :min="0" :max="9999999999"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item label="中队长姓名" prop="zhongdVO.zdzxm">
										<el-input size="small" v-model="editForm.zhongdVO.zdzxm" placeholder="中队长姓名" maxlength="25"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item label="中队长联系方式" prop="zhongdVO.zdzlxfs">
										<el-input size="small" v-model="editForm.zhongdVO.zdzlxfs" placeholder="中队长联系方式" maxlength="25"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item label="副中队长一姓名" prop="zhongdVO.fzdzxm1">
										<el-input size="small" v-model="editForm.zhongdVO.fzdzxm1" placeholder="副大队长一姓名" maxlength="25"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item label="副中队长一联系方式" prop="zhongdVO.fzdzlxfs1">
										<el-input size="small" v-model="editForm.zhongdVO.fzdzlxfs1" placeholder="副中队长一联系方式" maxlength="25"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item label="副中队长二姓名" prop="zhongdVO.fzdzxm2">
										<el-input size="small" v-model="editForm.zhongdVO.fzdzxm2" placeholder="副大队长二姓名" maxlength="25"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item label="副中队长二联系方式" prop="zhongdVO.fzdzlxfs2">
										<el-input size="small" v-model="editForm.zhongdVO.fzdzlxfs2" placeholder="副中队长二联系方式" maxlength="25"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item label="副中队长三姓名" prop="zhongdVO.fzdzxm3">
										<el-input size="small" v-model="editForm.zhongdVO.fzdzxm3" placeholder="副大队长三姓名" maxlength="25"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item label="副中队长三联系方式" prop="zhongdVO.fzdzlxfs3">
										<el-input size="small" v-model="editForm.zhongdVO.fzdzlxfs3" placeholder="副中队长三联系方式" maxlength="25"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item label="指导员姓名" prop="zhongdVO.zdyxm">
										<el-input size="small" v-model="editForm.zhongdVO.zdyxm" placeholder="指导员姓名" maxlength="25"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item label="指导员联系方式" prop="zhongdVO.zdylxfs">
										<el-input size="small" v-model="editForm.zhongdVO.zdylxfs" placeholder="指导员联系方式" maxlength="25"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item label="副指导员姓名" prop="zhongdVO.fzdyxm">
										<el-input size="small" v-model="editForm.zhongdVO.fzdyxm" placeholder="副指导员姓名" maxlength="25"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item label="副指导员联系方式" prop="zhongdVO.fzdylxfs">
										<el-input size="small" v-model="editForm.zhongdVO.fzdylxfs" placeholder="副指导员联系方式" maxlength="25"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
						</div>

						<!-- 其他消防队伍 -->
						<div v-show="isQiTaXiaoFangDuiWu">
							<el-row class="mb5 row-edit-subtitle">
								<el-col :span=24>
									<strong class="col-edit-subtitle">其他消防队伍信息</strong>
								</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item label="消防队员总人数" prop="qtxfdwVO.xfdyzrs">
										<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" size="small" v-model="editForm.qtxfdwVO.xfdyzrs" placeholder="消防队员总人数" :min="0" :max="9999999999"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item label="每日执勤人数" prop="qtxfdwVO.mrzqrs">
										<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" size="small" v-model="editForm.qtxfdwVO.mrzqrs" placeholder="每日执勤人数" :min="0" :max="9999999999"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item label="管辖单位" prop="qtxfdwVO.gxdw">
										<el-input size="small" v-model="editForm.qtxfdwVO.gxdw" placeholder="管辖单位" maxlength="50"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item label="管辖单位联系方式" prop="qtxfdwVO.gxdwlxfs">
										<el-input size="small" v-model="editForm.qtxfdwVO.gxdwlxfs" placeholder="管辖单位联系方式" maxlength="25"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item label="队长姓名" prop="qtxfdwVO.dzxm">
										<el-input size="small" v-model="editForm.qtxfdwVO.dzxm" placeholder="队长姓名" maxlength="25"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item label="队长联系方式" prop="qtxfdwVO.dzlxfs">
										<el-input size="small" v-model="editForm.qtxfdwVO.dzlxfs" placeholder="队长联系方式" maxlength="25"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
						</div>

						<el-row class="mb5 row-edit-subtitle">
							<el-col :span=24>
								<strong class="col-edit-subtitle">备注</strong>
							</el-col>
						</el-row>
						<el-row>
							<el-col :span="23">
								<el-form-item label="备注" prop="bz">
									<el-input size="small" v-model="editForm.bz" placeholder="备注" type="textarea" :autosize="{ minRows: 2, maxRows: 4}" maxlength="200"></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
						</el-row>
					</el-form>
				</div>
				<el-row class="mt35 mb20">
					<el-row>
						<el-col :span=24 class="editform-button">
							<el-button type="clear" icon="close" size="small" class="btn_submit" @click="cancel"> 取消</el-button>
							<el-button type="success" icon="check" size="small" class="btn_save" @click="save('editForm')">保存</el-button>
						</el-col>
					</el-row>
				</el-row>
			</div>
		</div>
	</div>
</body>
<script src="../../static/js/basicinfo/firestation_edit.js"></script>
</html>