<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="../../static/css/basicinfo/equipment_add.css">
	<title>消防水源信息编辑</title>
</head>

<body class="fw f14 main-index-body">
	<div id="app">
		<div class="main-box">
			<div class="main-container" v-loading="loading" element-loading-text="加载中">
				<!-- 面包屑 -->
				<div id="breadcrumb_box"></div>
				<div id="inforView" class="pt15">
					<el-form label-width="75px" :inline="true" class="el-form demo-form-inline" ref="editForm" :model="editForm" label-position="right">
						<el-row class="mb5 row-edit-subtitle">
							<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
								<strong class="col-edit-subtitle">基本信息</strong>
							</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">
									<span style="color:red;">* </span>水源名称</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input size="small" v-model="editForm.symc" placeholder="水源名称"></el-input>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">水源编码</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input size="small" v-model="editForm.sybm" placeholder="水源编码"></el-input>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">
									<span style="color:red;">* </span>水源类型</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-select size="small" v-model="editForm.sylx" placeholder="请选择" class="searchSelect" clearable @change="sylxChange">
									<el-option v-for="item in sylxData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
								</el-select>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">水源地址</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input size="small" v-model="editForm.sydz" placeholder="水源地址"></el-input>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">可用状态</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-select size="small" v-model="editForm.kyzt" placeholder="请选择" class="searchSelect" clearable>
									<el-option v-for="item in kyztData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
								</el-select>
							</el-col>
						</el-row>
						<el-row class="mb5 row-edit-subtitle">
							<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
								<strong class="col-edit-subtitle">位置及管辖信息</strong>
							</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">管辖队站</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-cascader :options="sjdzData" :props="sjdzprops" size="small" v-model="editForm.gxdz" placeholder="请选择" class="searchSelect"
								 clearable change-on-select :show-all-levels="true"></el-cascader>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">行政区划</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-cascader :options="xzqhData" :props="props" size="small" v-model="editForm.xzqh" placeholder="请选择" class="searchSelect"
								 clearable change-on-select :show-all-levels="true"></el-cascader>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">水源归属</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-select size="small" v-model="editForm.sygs" @change="sygsChange" placeholder="请选择" class="searchSelect" clearable>
									<el-option v-for="item in sygsData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
								</el-select>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">所属单位(小区)</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input v-if="editForm.sygs==='20'" size="small" v-model="editForm.ssdw" placeholder="所属单位(小区)"></el-input>
								<el-input v-else size="small" v-model="editForm.ssdw" placeholder="所属单位(小区)" disabled></el-input>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">经度</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input-number v-model="editForm.lon" size="small"></el-input-number>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">纬度</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input-number v-model="editForm.lat" size="small"></el-input-number>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">GIS_X</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input-number v-model="editForm.gisX" size="small"></el-input-number>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">GIS_Y</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input-number v-model="editForm.gisY" size="small"></el-input-number>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">GIS_H</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input-number v-model="editForm.gisH" size="small"></el-input-number>
							</el-col>
						</el-row>
						<el-row class="mb5 row-edit-subtitle">
							<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
								<strong class="col-edit-subtitle">联系信息</strong>
							</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">供水单位</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input size="small" v-model="editForm.gsdw" placeholder="供水单位"></el-input>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">供水单位联系方式</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input size="small" v-model="editForm.gsdwlxfs" placeholder="供水单位联系方式"></el-input>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>

						<!-- 消火栓 -->
						<div v-show="isXHS">
							<el-row class="mb5 row-edit-subtitle">
								<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
									<strong class="col-edit-subtitle">消火栓属性信息</strong>
								</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">设置形式</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-select size="small" v-model="editForm.xhs_szxs" placeholder="请选择" class="searchSelect" clearable>
										<el-option v-for="item in szxsData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
									</el-select>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">管网压力范围</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input size="small" v-model="editForm.xhs_gwylfw" placeholder="管网压力范围(MPa)"></el-input>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">管网形式</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-select size="small" v-model="editForm.xhs_gwxs" placeholder="请选择" class="searchSelect" clearable>
										<el-option v-for="item in gwxsData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
									</el-select>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">管网直径(mm)</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number v-model="editForm.xhs_gwzj" size="small" :min="0"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">管网压力类型</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-select size="small" v-model="editForm.xhs_gwyllx" placeholder="请选择" class="searchSelect" clearable>
										<el-option v-for="item in gwyllxData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
									</el-select>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">接口口径(mm)</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number v-model="editForm.xhs_jkkj" size="small" :min="0"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">接口形式</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-select size="small" v-model="editForm.xhs_jkxs" placeholder="请选择" class="searchSelect" clearable>
										<el-option v-for="item in jkxsData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
									</el-select>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">最大流量(L/s)</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number v-model="editForm.xhs_zdll" size="small" :min="0"></el-input-number>
								</el-col>
							</el-row>
						</div>

						<!-- 消防水鹤 -->
						<div v-show="isXFSH">
							<el-row class="mb5 row-edit-subtitle">
								<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
									<strong class="col-edit-subtitle">消防水鹤属性信息</strong>
								</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">管网直径(mm)</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number v-model="editForm.xfsh_gwzj" size="small" :min="0"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">管网压力(MPa)</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number v-model="editForm.xfsh_gwyl" size="small" :min="0"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">出水口高度(m)</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number v-model="editForm.xfsh_cskgd" size="small" :min="0"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">最大流量(L/s)</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number v-model="editForm.xfsh_zdll" size="small" :min="0"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
						</div>

						<!-- 消防水池 -->
						<div v-show="isXFSC">
							<el-row class="mb5 row-edit-subtitle">
								<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
									<strong class="col-edit-subtitle">消防水池属性信息</strong>
								</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">管网形式</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-select size="small" v-model="editForm.xfsc_gwxs" placeholder="请选择" class="searchSelect" clearable>
										<el-option v-for="item in gwxsData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
									</el-select>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">停车位置</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input size="small" v-model="editForm.xfsc_tcwz" placeholder="停车位置"></el-input>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">水源标高差(m)</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number v-model="editForm.xfsc_sybgc" size="small" :min="0"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">储水量(m³)</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number v-model="editForm.xfsc_csl" size="small" :min="0"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">进水流量(L/s)</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number v-model="editForm.xfsc_jsll" size="small" :min="0"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">取水最大流量(L/s)</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number v-model="editForm.xfsc_qszdll" size="small" :min="0"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">同时取水车辆数</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number v-model="editForm.xfsc_tsqscls" onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" size="small"
									 :min="0"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">补水时间(h)</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number v-model="editForm.xfsc_bssj" size="small" :min="0"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
						</div>

						<!-- 天然水源取水点 -->
						<div v-show="isTRSYQSD">
							<el-row class="mb5 row-edit-subtitle">
								<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
									<strong class="col-edit-subtitle">天然水源取水点属性信息</strong>
								</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">所属天然水源</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input size="small" v-model="editForm.trsy_trsymc" placeholder="天然水源名称" disabled></el-input>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">
									<el-button icon="search" size="small" style="border: none;background-color: #FFFFFF;" @click="trsyList('init')" class="l"></el-button>
								</el-col>
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">取水形式</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-select size="small" v-model="editForm.trsyqsd_qsxs" placeholder="请选择" class="searchSelect" clearable>
										<el-option v-for="item in qsxsData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
									</el-select>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>


							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">停车位置</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input size="small" v-model="editForm.trsyqsd_tcwz" placeholder="停车位置"></el-input>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">同时取水车辆数</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number v-model="editForm.trsyqsd_tsqscls" onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))"
									 size="small" :min="0"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">水源标高差(m)</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number v-model="editForm.trsyqsd_sybgc" size="small" :min="0"></el-input-number>
								</el-col>
								<el-col :xs="13" :sm="13" :md="13" :lg="13" :xl="13">&nbsp;</el-col>
							</el-row>
						</div>

						<el-row class="mb5 row-edit-subtitle">
							<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
								<strong class="col-edit-subtitle">备注</strong>
							</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">备注</el-label>
							</el-col>
							<el-col :xs="20" :sm="20" :md="20" :lg="20" :xl="20">
								<el-input size="small" v-model="editForm.bz" placeholder="备注" type="textarea" :autosize="{ minRows: 2, maxRows: 4}"></el-input>
							</el-col>
						</el-row>
					</el-form>
				</div>
				<el-row class="mt35 mb20">
					<el-row>
						<el-col :xs="10" :sm="10" :md="10" :lg="10" :xl="10">&nbsp;</el-col>
						<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
							<el-button type="clear" icon="close" size="small" class="btn_submit" @click="cancel"> 取消</el-button>
							<el-button type="success" icon="check" size="small" class="btn_save" @click="save('editForm')">保存</el-button>
						</el-col>
						<el-col :xs="10" :sm="10" :md="10" :lg="10" :xl="10">&nbsp;</el-col>
					</el-row>
				</el-row>
				<!--选择天然水源界面-->
				<el-dialog :title="dialogTitle" :visible.sync="trsyListVisible" :close-on-click-modal="false">
					<div id="tableView" v-loading="loading_trsy" element-loading-text="加载中" v-show="trsySearch">
						<el-row>
							<el-form :inline="true" class="el-form demo-form-inline">
								<el-row class="mb5">
									<el-col :span="12" class="searchInline">
										<label class="el-form-item__label" style="width:145px;" class="tr vbm">天然水源名称</label>
										<el-input size="small" v-model="searchForm.trsy_trsymc" placeholder="天然水源名称" clearable></el-input>
									</el-col>
									<el-col :span="12" class="btnSearchPlus">
										<el-button type="primary" icon="search" size="small" @click="trsyList('click')">查询</el-button>
										<el-button type="clear" icon="delete" size="small" @click="clearTrsyList">清空</el-button>
										<el-button type="success" icon="plus" size="small" @click="addTrsy">新增</el-button>
										<el-button type="danger" icon="delete2" size="small" @click="deleteTrsy">删除</el-button>
									</el-col>
								</el-row>
							</el-form>
						</el-row>
						<div class="table_container">
							<el-table border id="table" :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)" class="tableStyle" :height="tableheight"
							 @selection-change="selectionChange">
								<el-table-column type="selection" width="45"></el-table-column>
								<el-table-column type="index" label="序号" show-overflow-tooltip width="65" align="center"></el-table-column>
								<el-table-column prop="trsy_trsymc" label="天然水源名称" show-overflow-tooltip min-width="23%" align="center">
									<template slot-scope="scope">
										<a @click="selectRow(scope.row)" type="text" v-text="scope.row.trsy_trsymc"></a>
									</template>
								</el-table-column>
								<el-table-column prop="trsy_trsylxmc" label="天然水源类型" show-overflow-tooltip min-width="23%" align="center"></el-table-column>
								<el-table-column prop="trsy_ywksq" label="枯水期" show-overflow-tooltip min-width="16%" align="center"></el-table-column>
								<el-table-column prop="trsy_ywqsd" label="取水点" show-overflow-tooltip min-width="16%" align="center"></el-table-column>
								<el-table-column label="操作" width="65" align="center">
									<template slot-scope="scope">
										<el-button type="text" @click="editTrsy(scope.row)">编辑</el-button>
									</template>
								</el-table-column>
							</el-table>
							<!--列表底部工具条和分页符-->
							<el-row type="flex" justify="end">
								<el-col :span="18">
									<el-pagination @current-change="currentPageChange" :current-page="currentPage" :page-size="pageSize" layout="total, prev, pager, next, jumper"
									 :total=parseInt(total)>
									</el-pagination>
								</el-col>
							</el-row>
						</div>
					</div>
					<div v-loading="loading_trsyAdd" element-loading-text="加载中" v-show="trsyAdd">
						<el-row class="tr mb5 mt10">
							<el-col :span="5">
								<el-label class="mr5 vbm">天然水源名称</el-label>
							</el-col>
							<el-col :span="17">
								<el-input size="small" v-model="trsyAddForm.trsy_trsymc" placeholder="天然水源名称"></el-input>
							</el-col>
							<el-col :span="2">&nbsp;</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :span="5">
								<el-label class="mr5 vbm">天然水源类型</el-label>
							</el-col>
							<el-col :span="17">
								<el-select size="small" v-model="trsyAddForm.trsy_trsylx" placeholder="请选择" class="searchSelect" clearable>
									<el-option v-for="item in trsylxData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
								</el-select>
							</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :span="5">
								<el-label class="mr5 vbm">水质</el-label>
							</el-col>
							<el-col :span="17">
								<el-select size="small" v-model="trsyAddForm.trsy_sz" placeholder="请选择" class="searchSelect" clearable>
									<el-option v-for="item in szData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
								</el-select>
							</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :span="5">
								<el-label class="mr5 vbm">水质描述</el-label>
							</el-col>
							<el-col :span="17">
								<el-input type="textarea" v-model="trsyAddForm.trsy_szms" placeholder="水质描述" :autosize="{ minRows: 1, maxRows: 4}" size="small"></el-input>
							</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :span="5">
								<el-label class="mr5 vbm">有无取水点</el-label>
							</el-col>
							<el-col :span="17">
								<el-select size="small" v-model="trsyAddForm.trsy_ywqsd" placeholder="请选择" class="searchSelect" clearable>
									<el-option v-for="item in ywqsdData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
								</el-select>
							</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :span="5">
								<el-label class="mr5 vbm">有无枯水期</el-label>
							</el-col>
							<el-col :span="17">
								<el-select size="small" v-model="trsyAddForm.trsy_ywksq" placeholder="请选择" class="searchSelect" clearable>
									<el-option v-for="item in ywqsdData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
								</el-select>
							</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :span="5">
								<el-label class="mr5 vbm">枯水期时间</el-label>
							</el-col>
							<el-col :span="17">
								<el-input v-if="trsyAddForm.trsy_ywksq==='0'" type="textarea" v-model="trsyAddForm.trsy_ksqsj" placeholder="枯水期时间" :autosize="{ minRows: 1, maxRows: 4}"
								 size="small" disabled></el-input>
								<el-input v-else type="textarea" v-model="trsyAddForm.trsy_ksqsj" placeholder="枯水期时间" :autosize="{ minRows: 1, maxRows: 4}"
								 size="small"></el-input>
							</el-col>
						</el-row>
						<el-row class="mt35 mb20">
							<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24" class="editform-button">
								<el-button type="clear" icon="close" size="small" class="btn_submit" @click="cancelTrsy"> 返回</el-button>
								<el-button type="success" icon="check" size="small" class="btn_save" @click="saveTrsy">保存</el-button>
							</el-col>
						</el-row>
					</div>
				</el-dialog>
			</div>
		</div>
	</div>
</body>
<script src="../../static/js/basicinfo/firewater_edit.js"></script>

</html>