<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>消防水源信息编辑</title>
</head>

<body class="fw f14 main-index-body">
	<div id="app">
		<div class="main-box">
			<div class="main-container" v-loading="loading" element-loading-text="加载中">
				<!-- 面包屑 -->
				<div id="breadcrumb_box"></div>
				<div id="inforView">
					<el-form label-width="140px" ref="editForm" :model="editForm" :rules="editFormRules">
						<el-row class="mb5 row-edit-subtitle">
							<el-col :span="24">
								<strong class="col-edit-subtitle">基本信息</strong>
							</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-form-item prop="symc" label="水源名称">
									<el-input size="small" maxlength="50" v-model="editForm.symc" placeholder="水源名称"></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
							<el-col :span="11">
								<el-form-item prop="sybm" label="水源编码">
									<el-input size="small" maxlength="25" v-model="editForm.sybm" placeholder="水源编码"></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-form-item prop="sylx" label="水源类型">
									<el-select size="small" v-model="editForm.sylx" placeholder="请选择" class="searchSelect" clearable @change="sylxChange">
										<el-option v-for="item in sylxData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
									</el-select>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
							<el-col :span="11">
								<el-form-item prop="sydz" label="水源地址">
									<el-input size="small" v-model="editForm.sydz" maxlength="100" placeholder="水源地址"></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-form-item prop="kyzt" label="可用状态">
									<el-select size="small" v-model="editForm.kyzt" placeholder="请选择" class="searchSelect" clearable>
										<el-option v-for="item in kyztData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
									</el-select>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
						</el-row>
						<el-row class="mb5 row-edit-subtitle">
							<el-col :span="24">
								<strong class="col-edit-subtitle">位置及管辖信息</strong>
							</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-form-item prop="gxdz" label="管辖队站">
									<el-cascader :options="sjdzData" :props="sjdzprops" size="small" v-model="editForm.gxdz" placeholder="请选择" class="searchSelect"
								 clearable change-on-select :show-all-levels="true"></el-cascader>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
							<el-col :span="11">
								<el-form-item prop="xzqh" label="行政区划">
									<el-cascader :options="xzqhData" :props="props" size="small" v-model="editForm.xzqh" placeholder="请选择" class="searchSelect"
								 clearable change-on-select :show-all-levels="true"></el-cascader>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-form-item prop="sygs" label="水源归属">
									<el-select size="small" v-model="editForm.sygs" @change="sygsChange" placeholder="请选择" class="searchSelect" clearable>
										<el-option v-for="item in sygsData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
									</el-select>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
							<el-col :span="11">
								<el-form-item prop="ssdw" label="所属单位(小区)">
									<el-input v-if="editForm.sygs==='20'" size="small" v-model="editForm.ssdw" maxlength="50" placeholder="所属单位(小区)"></el-input>
									<el-input v-else size="small" v-model="editForm.ssdw" placeholder="所属单位(小区)" disabled></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-form-item prop="lon" label="经度">
									<el-input-number size="small" :precision="2" v-model="editForm.lon" placeholder="经度" :min="-99999.9999999999" :max="99999.9999999999"></el-input-number>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
							<el-col :span="11">
								<el-form-item prop="lat" label="纬度">
									<el-input-number size="small" :precision="2" v-model="editForm.lat" placeholder="纬度" :min="-99999.9999999999" :max="99999.9999999999"></el-input-number>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-form-item prop="gisX" label="GIS_X">
									<el-input-number size="small" :precision="2" v-model="editForm.gisX" placeholder="GIS_X" :min="-99999.9999999999" :max="99999.9999999999"></el-input-number>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
							<el-col :span="11">
								<el-form-item prop="gisY" label="GIS_Y">
									<el-input-number size="small" :precision="2" v-model="editForm.gisY" placeholder="GIS_Y" :min="-99999.9999999999" :max="99999.9999999999"></el-input-number>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-form-item prop="gisH" label="GIS_H">
									<el-input-number size="small" :precision="2" v-model="editForm.gisH" placeholder="GIS_H" :min="-99999.9999999999" :max="99999.9999999999"></el-input-number>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
						</el-row>
						<el-row class="mb5 row-edit-subtitle">
							<el-col :span="24">
								<strong class="col-edit-subtitle">联系信息</strong>
							</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-form-item prop="gsdw" label="供水单位">
									<el-input size="small" v-model="editForm.gsdw" maxlength="50" placeholder="供水单位"></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
							<el-col :span="11">
								<el-form-item prop="gsdwlxfs" label="供水单位联系方式">
									<el-input size="small" v-model="editForm.gsdwlxfs" maxlength="25" placeholder="供水单位联系方式"></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
						</el-row>

						<!-- 消火栓 -->
						<div v-show="isXHS">
							<el-row class="mb5 row-edit-subtitle">
								<el-col :span="24">
									<strong class="col-edit-subtitle">消火栓属性信息</strong>
								</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item prop="xhs_szxs" label="设置形式">
										<el-select size="small" v-model="editForm.xhs_szxs" placeholder="请选择" class="searchSelect" clearable>
											<el-option v-for="item in szxsData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
										</el-select>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item prop="xhs_gwylfw" label="管网压力范围">
										<el-input size="small" v-model="editForm.xhs_gwylfw" maxlength="30" placeholder="管网压力范围(MPa)"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item prop="xhs_gwxs" label="管网形式">
										<el-select size="small" v-model="editForm.xhs_gwxs" placeholder="请选择" class="searchSelect" clearable>
											<el-option v-for="item in gwxsData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
										</el-select>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item prop="xhs_gwzj" label="管网直径(mm)">
										<el-input-number v-model="editForm.xhs_gwzj" size="small" :min="0" :max="99999999.9999"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item prop="xhs_gwyllx" label="管网压力类型">
										<el-select size="small" v-model="editForm.xhs_gwyllx" placeholder="请选择" class="searchSelect" clearable>
											<el-option v-for="item in gwyllxData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
										</el-select>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item prop="xhs_jkkj" label="接口口径(mm)">
										<el-input-number v-model="editForm.xhs_jkkj" size="small" :min="0" :max="99999999.9999"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item prop="xhs_jkxs" label="接口形式">
										<el-select size="small" v-model="editForm.xhs_jkxs" placeholder="请选择" class="searchSelect" clearable>
											<el-option v-for="item in jkxsData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
										</el-select>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item prop="xhs_zdll" label="最大流量(L/s)">
										<el-input-number v-model="editForm.xhs_zdll" size="small" :min="0" :max="99999999.9999"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
						</div>
						<!-- 消防水鹤 -->
						<div v-show="isXFSH">
							<el-row class="mb5 row-edit-subtitle">
								<el-col :span="24">
									<strong class="col-edit-subtitle">消防水鹤属性信息</strong>
								</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item prop="xfsh_gwzj" label="管网直径(mm)">
										<el-input-number v-model="editForm.xfsh_gwzj" size="small" :min="0" :max="99999999.9999"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item prop="xfsh_gwyl" label="管网压力(MPa)">
										<el-input-number v-model="editForm.xfsh_gwyl" size="small" :min="0" :max="99999999.9999"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item prop="xfsh_cskgd" label="出水口高度(m)">
										<el-input-number v-model="editForm.xfsh_cskgd" size="small" :min="0" :max="99999999.9999"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item prop="xfsh_zdll" label="最大流量(L/s)">
										<el-input-number v-model="editForm.xfsh_zdll" size="small" :min="0" :max="99999999.9999"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
						</div>
						<!-- 消防水池 -->
						<div v-show="isXFSC">
							<el-row class="mb5 row-edit-subtitle">
								<el-col :span="24">
									<strong class="col-edit-subtitle">消防水池属性信息</strong>
								</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item prop="xfsc_gwxs" label="管网形式">
										<el-select size="small" v-model="editForm.xfsc_gwxs" placeholder="请选择" class="searchSelect" clearable>
											<el-option v-for="item in gwxsData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
										</el-select>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item prop="xfsc_tcwz" label="停车位置">
										<el-input size="small" v-model="editForm.xfsc_tcwz" maxlength="50" placeholder="停车位置"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item prop="xfsc_sybgc" label="水源标高差(m)">
										<el-input-number v-model="editForm.xfsc_sybgc" size="small" :min="0" :max="99999999.9999"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item prop="xfsc_csl" label="储水量(m³)">
										<el-input-number v-model="editForm.xfsc_csl" size="small" :min="0" :max="99999999.9999"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item prop="xfsc_jsll" label="进水流量(L/s)">
										<el-input-number v-model="editForm.xfsc_jsll" size="small" :min="0" :max="99999999.9999"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item prop="xfsc_qszdll" label="取水最大流量(L/s)">
										<el-input-number v-model="editForm.xfsc_qszdll" size="small" :min="0" :max="99999999.9999"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item prop="xfsc_tsqscls" label="同时取水车辆数">
										<el-input-number v-model="editForm.xfsc_tsqscls" onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" size="small"
									 :min="0" :max="9999999999"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item prop="xfsc_bssj" label="补水时间(h)">
										<el-input-number v-model="editForm.xfsc_bssj" size="small" :min="0" :max="999.99"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
						</div>

						<!-- 天然水源取水点 -->
						<div v-show="isTRSYQSD">
							<el-row class="mb5 row-edit-subtitle">
								<el-col :span="24">
									<strong class="col-edit-subtitle">天然水源取水点属性信息</strong>
								</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item prop="trsy_trsymc" label="所属天然水源">
										<el-input size="small" v-model="editForm.trsy_trsymc" placeholder="天然水源名称" disabled></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">
									<el-button icon="search" size="small" style="border: none;background-color: #FFFFFF;" @click="trsyList('init')" class="l"></el-button>
								</el-col>
								<el-col :span="11">
									<el-form-item prop="trsyqsd_qsxs" label="取水形式">
										<el-select size="small" v-model="editForm.trsyqsd_qsxs" placeholder="请选择" class="searchSelect" clearable>
											<el-option v-for="item in qsxsData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
										</el-select>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item prop="trsyqsd_tcwz" label="停车位置">
										<el-input size="small" v-model="editForm.trsyqsd_tcwz" maxlength="50" placeholder="停车位置"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="11">
									<el-form-item prop="trsyqsd_tsqscls" label="同时取水车辆数">
										<el-input-number v-model="editForm.trsyqsd_tsqscls" onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))"
									 size="small" :min="0" :max="9999999999"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="11">
									<el-form-item prop="trsyqsd_sybgc" label="水源标高差(m)">
										<el-input-number v-model="editForm.trsyqsd_sybgc" size="small" :min="0" :max="99999999.9999"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
						</div>
						<el-row class="mb5 row-edit-subtitle">
							<el-col :span="24">
								<strong class="col-edit-subtitle">备注</strong>
							</el-col>
						</el-row>
						<el-row>
							<el-col :span="24">
								<el-form-item prop="bz" label="备注">
									<el-input size="small" v-model="editForm.bz" maxlength="200" placeholder="备注" type="textarea" :autosize="{ minRows: 2, maxRows: 4}"></el-input>
								</el-form-item>
							</el-col>
						</el-row>
					</el-form>
				</div>
				<el-row class="mt35 mb20">
					<el-row>
						<el-col :xs="10" :sm="10" :md="10" :lg="10" :xl="10">&nbsp;</el-col>
						<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
							<el-button type="clear" icon="close" size="small" class="btn_submit" @click="cancel"> 取消</el-button>
							<el-button type="success" icon="check" size="small" class="btn_save" @click="save('editForm')">保存</el-button>
						</el-col>
						<el-col :xs="10" :sm="10" :md="10" :lg="10" :xl="10">&nbsp;</el-col>
					</el-row>
				</el-row>
				<!--选择天然水源界面-->
				<el-dialog :title="dialogTitle" :visible.sync="trsyListVisible" :close-on-click-modal="false">
					<div id="tableView" v-loading="loading_trsy" element-loading-text="加载中" v-show="trsySearch">
						<el-row>
							<el-form :inline="true" class="el-form demo-form-inline">
								<el-row class="mb5">
									<el-col :span="12" class="searchInline">
										<label class="el-form-item__label" style="width:145px;" class="tr vbm">天然水源名称</label>
										<el-input size="small" v-model="searchForm.trsy_trsymc" placeholder="天然水源名称" clearable></el-input>
									</el-col>
									<el-col :span="12" class="btnSearchPlus">
										<el-button type="primary" icon="search" size="small" @click="trsyList('click')">查询</el-button>
										<el-button type="clear" icon="delete" size="small" @click="clearTrsyList">清空</el-button>
										<el-button type="success" icon="plus" size="small" @click="addTrsy">新增</el-button>
										<el-button type="danger" icon="delete2" size="small" @click="deleteTrsy">删除</el-button>
									</el-col>
								</el-row>
							</el-form>
						</el-row>
						<div class="table_container">
							<el-table border id="table" :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)" class="tableStyle" :height="tableheight"
							 @selection-change="selectionChange">
								<el-table-column type="selection" width="45"></el-table-column>
								<el-table-column type="index" label="序号" show-overflow-tooltip width="65" align="center"></el-table-column>
								<el-table-column prop="trsy_trsymc" label="天然水源名称" show-overflow-tooltip min-width="23%" align="center">
									<template slot-scope="scope">
										<a @click="selectRow(scope.row)" type="text" v-text="scope.row.trsy_trsymc"></a>
									</template>
								</el-table-column>
								<el-table-column prop="trsy_trsylxmc" label="天然水源类型" show-overflow-tooltip min-width="23%" align="center"></el-table-column>
								<el-table-column prop="trsy_ywksq" label="枯水期" show-overflow-tooltip min-width="16%" align="center"></el-table-column>
								<el-table-column prop="trsy_ywqsd" label="取水点" show-overflow-tooltip min-width="16%" align="center"></el-table-column>
								<el-table-column label="操作" width="65" align="center">
									<template slot-scope="scope">
										<el-button type="text" @click="editTrsy(scope.row)">编辑</el-button>
									</template>
								</el-table-column>
							</el-table>
							<!--列表底部工具条和分页符-->
							<el-row type="flex" justify="end">
								<el-col :span="18">
									<el-pagination @current-change="currentPageChange" :current-page="currentPage" :page-size="pageSize" layout="total, prev, pager, next, jumper"
									 :total=parseInt(total)>
									</el-pagination>
								</el-col>
							</el-row>
						</div>
					</div>
					<div v-loading="loading_trsyAdd" element-loading-text="加载中" v-show="trsyAdd">
						<el-form label-width="120px" ref="trsyAddForm" :model="trsyAddForm" :rules="trsyFormRules">
							<el-row>
								<el-col :span="23">
									<el-form-item prop="trsy_trsymc" label="天然水源名称">
										<el-input size="small" v-model="trsyAddForm.trsy_trsymc" maxlength="50" placeholder="天然水源名称"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="23">
									<el-form-item prop="trsy_trsylx" label="天然水源类型">
										<el-select size="small" v-model="trsyAddForm.trsy_trsylx" placeholder="请选择" class="searchSelect" clearable>
											<el-option v-for="item in trsylxData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
										</el-select>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="23">
									<el-form-item prop="trsy_sz" label="水质">
										<el-select size="small" v-model="trsyAddForm.trsy_sz" placeholder="请选择" class="searchSelect" clearable>
											<el-option v-for="item in szData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
										</el-select>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-row>
									<el-col :span="23">
										<el-form-item prop="trsy_szms" label="水质描述">
											<el-input type="textarea" v-model="trsyAddForm.trsy_szms" maxlength="100" placeholder="水质描述" :autosize="{ minRows: 1, maxRows: 4}" size="small"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="1">&nbsp;</el-col>
								</el-row>
							</el-row>
							<el-row>
								<el-col :span="23">
									<el-form-item prop="trsy_ywqsd" label="有无取水点">
										<el-select size="small" v-model="trsyAddForm.trsy_ywqsd" placeholder="请选择" class="searchSelect" clearable>
											<el-option v-for="item in ywqsdData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
										</el-select>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="23">
									<el-form-item prop="trsy_ywksq" label="有无枯水期">
										<el-select size="small" v-model="trsyAddForm.trsy_ywksq" placeholder="请选择" class="searchSelect" clearable>
											<el-option v-for="item in ywqsdData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
										</el-select>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="23">
									<el-form-item prop="trsy_ksqsj" label="枯水期时间">
										<el-input v-if="trsyAddForm.trsy_ywksq==='0'" type="textarea" v-model="trsyAddForm.trsy_ksqsj" placeholder="枯水期时间" :autosize="{ minRows: 1, maxRows: 4}"
											size="small" disabled></el-input>
										<el-input v-else type="textarea" v-model="trsyAddForm.trsy_ksqsj" maxlength="50" placeholder="枯水期时间" :autosize="{ minRows: 1, maxRows: 4}"
											size="small"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="5">
									<el-label class="mr5 vbm"></el-label>
								</el-col>
								<el-col :span="17">
									
								</el-col>
							</el-row>
							<el-row class="mt35 mb20 editform-button">
								<el-button type="clear" icon="close" size="small" class="btn_submit" @click="cancelTrsy"> 返回</el-button>
								<el-button type="success" icon="check" size="small" class="btn_save" @click="saveTrsy('trsyAddForm')">保存</el-button>
							</el-row>


						</el-form>
					</div>
				</el-dialog>
			</div>
		</div>
	</div>
</body>
<script src="../../static/js/basicinfo/firewater_edit.js"></script>

</html>