<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>消防队站编辑</title>
</head>

<body class="fw f14 main-index-body">
	<div id="app">
		<div class="main-box">
			<div class="main-container" v-loading="loading" element-loading-text="加载中">
				<!-- 面包屑 -->
				<div id="breadcrumb_box"></div>
				<div id="inforView" class="pt15">
					<el-form label-width="75px" :inline="true" class="el-form demo-form-inline" ref="editForm" :model="editForm" label-position="right">
						<el-row class="mb5 row-edit-subtitle">
							<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
								<strong class="col-edit-subtitle">基本信息</strong>
							</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">
								<el-label class="mr5 vbm"><span style="color:red;">* </span>队站名称</el-label>
							</el-col>
							<el-col :xs="5" :sm="5" :md="5" :lg="5" :xl="5">
								<el-input size="small" v-model="editForm.dzmc" placeholder="队站名称"></el-input>
							</el-col>
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm"><span style="color:red;">* </span>队站简称</el-label>
							</el-col>
							<el-col :xs="5" :sm="5" :md="5" :lg="5" :xl="5">
								<el-input size="small" v-model="editForm.dzjc" placeholder="队站简称"></el-input>
							</el-col>
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">队站编码</el-label>
							</el-col>
							<el-col :xs="5" :sm="5" :md="5" :lg="5" :xl="5">
								<el-input size="small" v-model="editForm.dzbm" placeholder="队站编码"></el-input>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>

						<el-row class="tr mb5">
							<el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">
								<el-label class="mr5 vbm"><span style="color:red;">* </span>队站类型</el-label>
							</el-col>
							<el-col :xs="5" :sm="5" :md="5" :lg="5" :xl="5">
								<el-cascader :options="dzlxData" :props="props" size="small" v-model="editForm.dzlx" placeholder="请选择" class="searchSelect"
								 clearable change-on-select :show-all-levels="true" @change="dzlxChange"></el-cascader>
								 <!-- clearable change-on-select :show-all-levels="true" @change="dzlxChange" :disabled="dzlxDisabled"></el-cascader> -->
							</el-col>
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm"><span style="color:red;">* </span>上级队站</el-label>
							</el-col>
							<el-col :xs="13" :sm="13" :md="13" :lg="13" :xl="13">
								<el-cascader :options="sjdzData" :props="sjdzprops" size="small" v-model="editForm.sjdzid" placeholder="请选择" class="searchSelect"
								 clearable change-on-select :show-all-levels="true"></el-cascader>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>

						<el-row class="mb5 row-edit-subtitle">
							<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
								<strong class="col-edit-subtitle">位置及辖信息</strong>
							</el-col>
						</el-row>

						<el-row class="tr mb5">
							<el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">
								<el-label class="mr5 vbm">队站地址</el-label>
							</el-col>
							<el-col :xs="5" :sm="5" :md="5" :lg="5" :xl="5">
								<el-input size="small" v-model="editForm.dzdz" placeholder="队站地址"></el-input>
							</el-col>
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">经度</el-label>
							</el-col>
							<el-col :xs="5" :sm="5" :md="5" :lg="5" :xl="5">
								<el-input-number size="small" v-model="editForm.lon" placeholder="经度"></el-input-number>
							</el-col>
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">纬度</el-label>
							</el-col>
							<el-col :xs="5" :sm="5" :md="5" :lg="5" :xl="5">
								<el-input-number type="number" size="small" v-model="editForm.lat" placeholder="纬度"></el-input-number>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>

						<el-row class="tr mb5">
							<el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">
								<el-label class="mr5 vbm">行政区划</el-label>
							</el-col>
							<el-col :xs="5" :sm="5" :md="5" :lg="5" :xl="5">
								<el-cascader :options="xzqhData" :props="props" size="small" v-model="editForm.xzqh" placeholder="请选择" class="searchSelect"
								 clearable change-on-select :show-all-levels="true"></el-cascader>
							</el-col>
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">GIS_X</el-label>
							</el-col>
							<el-col :xs="5" :sm="5" :md="5" :lg="5" :xl="5">
								<el-input-number type="number" size="small" v-model="editForm.gisX" placeholder="GIS_X"></el-input-number>
							</el-col>
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">GIS_Y</el-label>
							</el-col>
							<el-col :xs="5" :sm="5" :md="5" :lg="5" :xl="5">
								<el-input-number type="number" size="small" v-model="editForm.gisY" placeholder="GIS_Y"></el-input-number>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>


						<el-row class="tr mb5">
							<el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">
								<el-label class="mr5 vbm">管辖水源数</el-label>
							</el-col>
							<el-col :xs="5" :sm="5" :md="5" :lg="5" :xl="5">
								<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" :min="0" :max="9999999999" size="small" v-model="editForm.gxsys" placeholder="管辖水源数"></el-input-number>
							</el-col>
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">管辖重点单位数</el-label>
							</el-col>
							<el-col :xs="5" :sm="5" :md="5" :lg="5" :xl="5">
								<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" :min="0" :max="9999999999" size="small" v-model="editForm.gxzddws" placeholder="管辖重点单位数"></el-input-number>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">
								<el-label class="mr5 vbm">辖区范围</el-label>
							</el-col>
							<el-col :xs="5" :sm="5" :md="5" :lg="5" :xl="5">
								<el-input size="small" v-model="editForm.xqfw" placeholder="辖区范围"></el-input>
							</el-col>
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">辖区面积</el-label>
							</el-col>
							<el-col :xs="5" :sm="5" :md="5" :lg="5" :xl="5">
								<el-input-number :min="0"  :max="99999999999999999999.99999" size="small" v-model="editForm.xqmj" placeholder="辖区面积"></el-input-number>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>
						<el-row class="mb5 row-edit-subtitle">
							<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
								<strong class="col-edit-subtitle">联系信息</strong>
							</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">
								<el-label class="mr5 vbm">联系人</el-label>
							</el-col>
							<el-col :xs="5" :sm="5" :md="5" :lg="5" :xl="5">
								<el-input size="small" v-model="editForm.lxr" placeholder="联系人"></el-input>
							</el-col>
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">联系电话</el-label>
							</el-col>
							<el-col :xs="5" :sm="5" :md="5" :lg="5" :xl="5">
								<el-input size="small" v-model="editForm.lxdh" placeholder="联系电话"></el-input>
							</el-col>
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">传真号码</el-label>
							</el-col>
							<el-col :xs="5" :sm="5" :md="5" :lg="5" :xl="5">
								<el-input size="small" v-model="editForm.czhm" placeholder="传真号码"></el-input>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>

						<el-row class="mb5 row-edit-subtitle">
							<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
								<strong class="col-edit-subtitle">装备信息</strong>
							</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">
								<el-label class="mr5 vbm">执勤车辆数</el-label>
							</el-col>
							<el-col :xs="5" :sm="5" :md="5" :lg="5" :xl="5">
								<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" :min="0" :max="9999999999" size="small" v-model="editForm.zqcls" placeholder="执勤车辆数(台)"></el-input-number>
							</el-col>
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">装备器材数(个)</el-label>
							</el-col>
							<el-col :xs="5" :sm="5" :md="5" :lg="5" :xl="5">
								<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" :min="0" :max="9999999999" size="small" v-model="editForm.zbqcs" placeholder="装备器材数(个)"></el-input-number>
							</el-col>
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">灭火剂总量(t)</el-label>
							</el-col>
							<el-col :xs="5" :sm="5" :md="5" :lg="5" :xl="5">
								<el-input-number :min="0" :max="9999999999.99" size="small" v-model="editForm.mhjzl" placeholder="灭火剂总量(t)"></el-input-number>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>

						<!-- 总队 -->
						<div v-show="isZongDui">
							<el-row class="mb5 row-edit-subtitle">
								<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
									<strong class="col-edit-subtitle">总队信息</strong>
								</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">现役官兵人数</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" :min="0" :max="9999999999" size="small" v-model="editForm.zongdVO.xygbrs" placeholder="现役官兵人数"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">政府专职消防员数</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" :min="0" :max="9999999999" size="small" v-model="editForm.zongdVO.zfzzxfys" placeholder="政府专职消防员数"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">文职雇员数</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" :min="0" :max="9999999999" size="small" v-model="editForm.zongdVO.wzgys" placeholder="文职雇员数"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">下辖支队数</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" :min="0" :max="9999999999" size="small" v-model="editForm.zongdVO.xxzhids" placeholder="下辖支队数"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">下辖中队数</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" :min="0" :max="9999999999" size="small" v-model="editForm.zongdVO.xxzhongds" placeholder="下辖中队数"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">总队长姓名</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input size="small" v-model="editForm.zongdVO.zdzxm" placeholder="总队长姓名"></el-input>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">总队长联系方式</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input size="small" v-model="editForm.zongdVO.zdzlxfs" placeholder="总队长联系方式"></el-input>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">总队政委姓名</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input size="small" v-model="editForm.zongdVO.zdzwxm" placeholder="总队政委姓名"></el-input>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">总队政委联系方式</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input size="small" v-model="editForm.zongdVO.zdzwlxfs" placeholder="总队政委联系方式"></el-input>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
						</div>

						<!-- 支队 -->
						<div v-show="isZhiDui">
							<el-row class="mb5 row-edit-subtitle">
								<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
									<strong class="col-edit-subtitle">支队信息</strong>
								</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">现役官兵人数</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" :min="0" :max="9999999999" size="small" v-model="editForm.zhidVO.xygbrs" placeholder="现役官兵人数"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">政府专职消防员数</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" :min="0" :max="9999999999" size="small" v-model="editForm.zhidVO.zfzzxfys" placeholder="政府专职消防员数"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">消防文员数</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" :min="0" :max="9999999999" size="small" v-model="editForm.zhidVO.xfwys" placeholder="消防文员数"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">是否独立接警</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-select size="small" v-model="editForm.zhidVO.sfdljj" placeholder="请选择" class="searchSelect" clearable>
										<el-option v-for="item in sfdljjData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
									</el-select>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">下辖大队数</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" :min="0" :max="9999999999" size="small" v-model="editForm.zhidVO.xxdads" placeholder="下辖大队数"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">下辖中队数</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" :min="0" :max="9999999999" size="small" v-model="editForm.zhidVO.xxzhongds" placeholder="下辖中队数"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">支队长姓名</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input size="small" v-model="editForm.zhidVO.zdzxm" placeholder="支队长姓名"></el-input>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">支队长联系方式</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input size="small" v-model="editForm.zhidVO.zdzlxfs" placeholder="支队长联系方式"></el-input>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">支队政委姓名</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input size="small" v-model="editForm.zhidVO.zdzwxm" placeholder="支队政委姓名"></el-input>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">支队政委联系方式</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input size="small" v-model="editForm.zhidVO.zdzwlxfs" placeholder="支队政委联系方式"></el-input>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
						</div>

						<!-- 大队 -->
						<div v-show="isDaDui">
							<el-row class="mb5 row-edit-subtitle">
								<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
									<strong class="col-edit-subtitle">大队信息</strong>
								</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">现役官兵人数</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" :min="0" :max="9999999999" size="small" v-model="editForm.dadVO.xygbrs" placeholder="现役官兵人数"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">政府专职消防员数</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" :min="0" :max="9999999999" size="small" v-model="editForm.dadVO.zfzzxfys" placeholder="政府专职消防员数"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">消防文员数</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" :min="0" :max="9999999999" size="small" v-model="editForm.dadVO.xfwys" placeholder="消防文员数"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">是否独立接警</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-select size="small" v-model="editForm.dadVO.sfdljj" placeholder="请选择" class="searchSelect" clearable>
										<el-option v-for="item in sfdljjData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
									</el-select>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">下辖中队数</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" :min="0" :max="9999999999" size="small" v-model="editForm.dadVO.xxzhongds" placeholder="下辖中队数"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">大队长姓名</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input size="small" v-model="editForm.dadVO.ddzxm" placeholder="大队长姓名"></el-input>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">大队长联系方式</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input size="small" v-model="editForm.dadVO.ddzlxfs" placeholder="大队长联系方式"></el-input>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">副大队长姓名</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input size="small" v-model="editForm.dadVO.fddzxm" placeholder="副大队长姓名"></el-input>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">副大队长联系方式</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input size="small" v-model="editForm.dadVO.fddzlxfs" placeholder="副大队长联系方式"></el-input>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">教导员姓名</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input size="small" v-model="editForm.dadVO.jdyxm" placeholder="教导员姓名"></el-input>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">教导员联系方式</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input size="small" v-model="editForm.dadVO.jdylxfs" placeholder="教导员联系方式"></el-input>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">副教导员姓名</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input size="small" v-model="editForm.dadVO.fjdyxm" placeholder="副教导员姓名"></el-input>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">副教导员联系方式</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input size="small" v-model="editForm.dadVO.fjdylxfs" placeholder="副教导员联系方式"></el-input>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
						</div>

						<!-- 中队 -->
						<div v-show="isZhongDui">
							<el-row class="mb5 row-edit-subtitle">
								<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
									<strong class="col-edit-subtitle">中队信息</strong>
								</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">现役人数</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" :min="0" :max="9999999999" size="small" v-model="editForm.zhongdVO.xyrs" placeholder="现役人数"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">政府专职消防员数</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" :min="0" :max="9999999999" size="small" v-model="editForm.zhongdVO.zfzzxfys" placeholder="政府专职消防员数"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">每日执勤人数</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" :min="0" :max="9999999999" size="small" v-model="editForm.zhongdVO.mrzqrs" placeholder="每日执勤人数"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">中队长姓名</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input size="small" v-model="editForm.zhongdVO.zdzxm" placeholder="中队长姓名"></el-input>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">中队长联系方式</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input size="small" v-model="editForm.zhongdVO.zdzlxfs" placeholder="中队长联系方式"></el-input>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">副中队长一姓名</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input size="small" v-model="editForm.zhongdVO.fzdzxm1" placeholder="副大队长一姓名"></el-input>
								</el-col>
								<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
									<el-label class="mr5 vbm">副中队长一联系方式</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input size="small" v-model="editForm.zhongdVO.fzdzlxfs1" placeholder="副中队长一联系方式"></el-input>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">副中队长二姓名</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input size="small" v-model="editForm.zhongdVO.fzdzxm2" placeholder="副大队长二姓名"></el-input>
								</el-col>
								<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
									<el-label class="mr5 vbm">副中队长二联系方式</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input size="small" v-model="editForm.zhongdVO.fzdzlxfs2" placeholder="副中队长二联系方式"></el-input>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">副中队长三姓名</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input size="small" v-model="editForm.zhongdVO.fzdzxm3" placeholder="副大队长三姓名"></el-input>
								</el-col>
								<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
									<el-label class="mr5 vbm">副中队长三联系方式</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input size="small" v-model="editForm.zhongdVO.fzdzlxfs3" placeholder="副中队长三联系方式"></el-input>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">指导员姓名</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input size="small" v-model="editForm.zhongdVO.zdyxm" placeholder="指导员姓名"></el-input>
								</el-col>
								<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
									<el-label class="mr5 vbm">指导员联系方式</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input size="small" v-model="editForm.zhongdVO.zdylxfs" placeholder="指导员联系方式"></el-input>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>	
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">副指导员姓名</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input size="small" v-model="editForm.zhongdVO.fzdyxm" placeholder="副指导员姓名"></el-input>
								</el-col>
								<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
									<el-label class="mr5 vbm">副指导员联系方式</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input size="small" v-model="editForm.zhongdVO.fzdylxfs" placeholder="副指导员联系方式"></el-input>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
						</div>

						<!-- 其他消防队伍 -->
						<div v-show="isQiTaXiaoFangDuiWu">
							<el-row class="mb5 row-edit-subtitle">
								<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
									<strong class="col-edit-subtitle">其他消防队伍信息</strong>
								</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">消防队员总人数</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" :min="0" :max="9999999999" size="small" v-model="editForm.qtxfdwVO.xfdyzrs" placeholder="消防队员总人数"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">每日执勤人数</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" :min="0" :max="9999999999" size="small" v-model="editForm.qtxfdwVO.mrzqrs" placeholder="每日执勤人数"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">管辖单位</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input size="small" v-model="editForm.qtxfdwVO.gxdw" placeholder="管辖单位"></el-input>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">管辖单位联系方式</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input size="small" v-model="editForm.qtxfdwVO.gxdwlxfs" placeholder="管辖单位联系方式"></el-input>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">队长姓名</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input size="small" v-model="editForm.qtxfdwVO.dzxm" placeholder="队长姓名"></el-input>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">队长联系方式</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input size="small" v-model="editForm.qtxfdwVO.dzlxfs" placeholder="队长联系方式"></el-input>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
						</div>

						<el-row class="mb5 row-edit-subtitle">
							<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
								<strong class="col-edit-subtitle">备注</strong>
							</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">
								<el-label class="mr5 vbm">备注</el-label>
							</el-col>
							<el-col :xs="21" :sm="21" :md="21" :lg="21" :xl="21">
								<el-input size="small" v-model="editForm.bz" placeholder="备注" type="textarea" :autosize="{ minRows: 2, maxRows: 4}"></el-input>
							</el-col>
						</el-row>
					</el-form>
				</div>
				<el-row class="mt35 mb20">
					<el-row>
						<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24" class="editform-button">
							<el-button type="clear" icon="close" size="small" class="btn_submit" @click="cancel"> 取消</el-button>
							<el-button type="success" icon="check" size="small" class="btn_save" @click="save('editForm')">保存</el-button>
						</el-col>
					</el-row>
				</el-row>
			</div>
		</div>
	</div>
</body>
<script src="../../static/js/basicinfo/firestation_edit.js"></script>
</html>