<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>单位建筑信息编辑</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/digitalplan/building.css">
</head>

<body class="fw f14 main-index-body">
	<div id="app">
		<div class="main-box">
			<div class="main-container" v-loading="loading" element-loading-text="加载中">
				<!-- 面包屑 -->
				<div id="breadcrumb_box"></div>
				<div id="inforView" class="pt15">
					<el-form label-width="75px"  ref="editForm" :model="editForm">
						<el-row class="mb5 row-edit-subtitle">
							<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
								<strong class="col-edit-subtitle">基本信息</strong>
							</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">
									<span style="color:red;">* </span>建筑名称</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input maxlength="50" size="small" v-model="editForm.jzmc" placeholder="建筑名称"></el-input>
							</el-col>
							<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
								<el-label class="mr5 vbm">
									<span style="color:red;">* </span>建筑类型</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-select size="small" v-model="editForm.jzlx" placeholder="请选择" class="searchSelect" clearable change-on-select :show-all-levels="true"
								 @change="jzlxChange">
									<el-option v-for="item in jzlxData" :key="item.codeName" :label="item.codeName" :value="item.codeValue"></el-option>
								</el-select>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>

						<el-row class="tr mb5">
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">建筑位置</el-label>
							</el-col>
							<el-col :xs="20" :sm="20" :md="20" :lg="20" :xl="20">
								<el-input maxlength="100" size="small" v-model="editForm.jzwz" placeholder="建筑位置"></el-input>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>

						<el-row class="tr mb5">
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">经度</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input-number  size="small" :precision="2" v-model="editForm.lon" placeholder="经度" :min="0" :max="99999.9999999999"></el-input-number>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">纬度</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input-number size="small" :precision="2" v-model="editForm.lat" placeholder="纬度" :min="0" :max="99999.9999999999"></el-input-number>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>

						<el-row class="tr mb5">
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5">辖区行车路线</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input maxlength="200" class="mt_4" size="small" v-model="editForm.xqxclx" placeholder="辖区行车路线"></el-input>
							</el-col>
							<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
								<el-label class="mr5">预计到达时长(min)</el-label>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-input-number class="mt_4" :precision="2" size="small" v-model="editForm.yjddsc" placeholder="预计到达时长(min)"  :min="0" :max="99999999.99"></el-input-number>
							</el-col>
							<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
						</el-row>

						<!-- 建筑类 -->
						<div v-show="isJzl">
							<el-row class="mb5 row-edit-subtitle">
								<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
									<strong class="col-edit-subtitle">建筑信息</strong>
								</el-col>
							</el-row>
							<el-row class="tr mb5">
								<!-- <el-input size="small" v-model="jzlVO.jzl_jzqk" placeholder="建筑情况"></el-input> -->
								<!-- <el-select size="small" v-model="jzlVO.jzl_jzqk" placeholder="请选择" class="searchSelect" clearable >
										<el-option v-for="item in jzl_jzqkData" :key="item.codeName" :label="item.codeName" :value="item.codeValue" ></el-option>
									</el-select> -->
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">建筑使用性质</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<!-- <el-input size="small" v-model="jzlVO.jzl_jzsyxz" placeholder="建筑使用性质"></el-input> -->
									<!-- <el-select size="small" v-model="jzlVO.jzl_jzsyxz" placeholder="请选择" class="searchSelect" clearable >
										<el-option v-for="item in jzl_jzsyxzData" :key="item.codeName" :label="item.codeName" :value="item.codeValue" ></el-option>
									</el-select> -->
									<el-cascader :options="jzl_jzsyxzData" :props="props" size="small" v-model="editForm.jzl_jzsyxz" placeholder="请选择" class="searchSelect"
									 clearable change-on-select :show-all-levels="false"></el-cascader>
								</el-col>
								<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
									<el-label class="mr5 vbm">建筑结构</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<!-- <el-input size="small" v-model="jzlVO.jzl_jzjg" placeholder="建筑结构"></el-input> -->
									<el-select size="small" v-model="editForm.jzl_jzjg" placeholder="请选择" class="searchSelect" clearable>
										<el-option v-for="item in jzl_jzjgData" :key="item.codeName" :label="item.codeName" :value="item.codeValue"></el-option>
									</el-select>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">占地面积(㎡)</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number :precision="2" size="small" v-model="editForm.jzl_zdmj" placeholder="占地面积"  :min="0" :max="99999999.99"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">建筑面积(㎡)</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number :precision="2" size="small" v-model="editForm.jzl_jzmj" placeholder="建筑面积"  :min="0" :max="99999999.99"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">地上高度(m)</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number class="mt_4" :precision="2" size="small" v-model="editForm.jzl_dsgd" placeholder="地上高度(m)"  :min="0" :max="99999999.99"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">地下高度(m)</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number class="mt_4" :precision="2" size="small" v-model="editForm.jzl_dxgd" placeholder="地下高度(m)"  :min="0" :max="99999999.99"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">地上层数</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number  :min="0" :max="9999" class="mt_4" :min="0" size="small" onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" v-model="editForm.jzl_dscs"
									 placeholder="地上层数"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">地下层数</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number  :min="0" :max="9999" class="mt_4" :min="0" size="small" onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" v-model="editForm.jzl_dxcs"
									 placeholder="地下层数"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">功能描述</el-label>
								</el-col>
								<el-col :xs="20" :sm="20" :md="20" :lg="20" :xl="20">
									<el-input maxlength="200" class="mt_4" size="small" v-model="editForm.jzl_gnms" placeholder="功能描述"></el-input>
								</el-col>

							</el-row>
						</div>

						<!-- 装置类 -->
						<div v-show="isZzl">
							<el-row class="mb5 row-edit-subtitle">
								<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
									<strong class="col-edit-subtitle">装置信息</strong>
								</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">建筑结构</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<!-- <el-input size="small" v-model="zzlVO.zzl_jzjg" placeholder="建筑结构"></el-input> -->
									<el-select size="small" v-model="editForm.zzl_jzjg" placeholder="请选择" class="searchSelect" clearable>
										<el-option v-for="item in zzl_jzjgData" :key="item.codeName" :label="item.codeName" :value="item.codeValue"></el-option>
									</el-select>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">占地面积(㎡)</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number  :min="0" :max="99999999.99" :precision="2" :min="0" size="small" v-model="editForm.zzl_zdmj" placeholder="占地面积"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">装置高度(m)</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number  :min="0" :max="99999999.99" :precision="2" :min="0" size="small" v-model="editForm.zzl_zzgd" placeholder="装置高度(m)"></el-input-number>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">技术负责人</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input maxlength="25" class="mt_4" size="small" v-model="editForm.zzl_jsfzr" placeholder="技术负责人"></el-input>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">技术负责人电话</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input maxlength="25" class="mt_4" size="small" v-model="editForm.zzl_jsfzrdh" placeholder="技术负责人电话"></el-input>
								</el-col>
								<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">装置组成</el-label>
								</el-col>
								<el-col :xs="20" :sm="20" :md="20" :lg="20" :xl="20">
									<el-input  maxlength="200" size="small" v-model="editForm.zzl_zzzc" placeholder="装置组成" type="textarea" :autosize="{ minRows: 1, maxRows: 4}"></el-input>
								</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">原料信息</el-label>
								</el-col>
								<el-col :xs="20" :sm="20" :md="20" :lg="20" :xl="20">
									<el-input  maxlength="200" size="small" v-model="editForm.zzl_ylxx" placeholder="原料信息" type="textarea" :autosize="{ minRows: 1, maxRows: 4}"></el-input>
								</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">产物信息</el-label>
								</el-col>
								<el-col :xs="20" :sm="20" :md="20" :lg="20" :xl="20">
									<el-input  maxlength="200" size="small" v-model="editForm.zzl_cwxx" placeholder="产物信息" type="textarea" :autosize="{ minRows: 1, maxRows: 4}"></el-input>
								</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">工艺流程</el-label>
								</el-col>
								<el-col :xs="20" :sm="20" :md="20" :lg="20" :xl="21">
									<el-input maxlength="200" size="small" v-model="editForm.zzl_gylc" placeholder="工艺流程" type="textarea" :autosize="{ minRows: 1, maxRows: 4}"></el-input>
								</el-col>
							</el-row>
						</div>

						<!-- 储罐类 -->
						<div v-show="isCgl">
							<el-row class="mb5 row-edit-subtitle">
								<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
									<strong class="col-edit-subtitle">储罐信息</strong>
								</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">总容积(m³)</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number :min="0" :max="99999999.99" :precision="2" size="small" v-model="editForm.cgl_zrj" placeholder="总容积(m3)"></el-input-number>
								</el-col>
								<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
									<el-label class="mr5 vbm">储罐数量</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number :min="0" :max="9999" size="small" onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode)))" v-model="editForm.cgl_cgsl"
									 placeholder="储罐数量"></el-input-number>
								</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">储罐间隔(m)</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input-number  :min="0" :max="99999999.99" class="mt_4" :min="0" size="small" v-model="editForm.cgl_cgjg" placeholder="储罐间隔"></el-input-number>
								</el-col>
								<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
									<el-label class="mr5 vbm">存储介质描述</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input maxlength="200" class="mt_4" size="small" v-model="editForm.cgl_ccjzms" placeholder="存储介质描述" ></el-input>
								</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">技术负责人</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input maxlength="25" class="mt_4" size="small" v-model="editForm.cgl_jsfzr" placeholder="技术负责人"></el-input>
								</el-col>
								<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
									<el-label class="mr5 vbm">技术负责人电话</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input maxlength="25" class="mt_4" size="small" v-model="editForm.cgl_jsfzrdh" placeholder="技术负责人电话"></el-input>
								</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">罐组毗邻情况(东)</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input maxlength="100" size="small" v-model="editForm.cgl_plqkd" placeholder="罐组毗邻情况(东)"></el-input>
								</el-col>
								<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
									<el-label class="mr5 vbm">罐组毗邻情况(西)</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input maxlength="100" size="small" v-model="editForm.cgl_plqkx" placeholder="罐组毗邻情况(西)"></el-input>
								</el-col>
							</el-row>
							<el-row class="tr mb5">
								<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
									<el-label class="mr5 vbm">罐组毗邻情况(南)</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input maxlength="100" size="small" v-model="editForm.cgl_plqkn" placeholder="罐组毗邻情况(南)"></el-input>
								</el-col>
								<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
									<el-label class="mr5  vbm">罐组毗邻情况(北)</el-label>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
									<el-input maxlength="100" size="small" v-model="editForm.cgl_plqkb" placeholder="罐组毗邻情况(北)"></el-input>
								</el-col>
							</el-row>


							<el-row style="border-bottom: 1px solid #d1dbe5;    line-height: 29px;" class="mt5">
								<el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
									<strong>罐体信息</strong>
								</el-col>
								<el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
									<el-button type="primary" icon="plus" size="small" style="float:right;" @click="addDomain"></el-button>
								</el-col>
							</el-row>
							<el-form :model="editForm.chuguanList" ref="editForm.chuguanList" label-width="100px">
								<el-form-item v-for="(domain, index) in editForm.chuguanList" :key="domain.key" :prop="'editForm.chuguanList.' + index + '.value'"
								 label-position="right">
									<el-card class="card_style">
										<div slot="header" class="clearfix">
											<strong class="card_title_font">罐体信息{{index+1}}</strong>
											<el-button type="danger" icon="minus" size="small" @click.prevent="removeDomain(domain)" class="r" style="margin:5px 0 0"></el-button>
										</div>
										<el-row class="tr mt5">
											<el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">
												<el-label class="mr5 vbm">储罐名称</el-label>
											</el-col>
											<el-col :xs="5" :sm="5" :md="5" :lg="5" :xl="5">
												<el-input maxlength="50" size="small" v-model="domain.cgmc" placeholder="储罐名称"></el-input>
											</el-col>
											<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
												<el-label class="mr5 vbm">储罐类型</el-label>
											</el-col>
											<el-col :xs="5" :sm="5" :md="5" :lg="5" :xl="5">
												<el-cascader :options="cgData" :props="props" size="small" v-model="domain.cglx" placeholder="请选择" class="searchSelect" clearable
												 change-on-select :show-all-levels="false"></el-cascader>
											</el-col>
											<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
												<el-label class="mr5 vbm">储罐容量(m³)</el-label>
											</el-col>
											<el-col :xs="5" :sm="5" :md="5" :lg="5" :xl="5">
												<el-input-number  :min="0" :max="99999999.99" :precision="2" size="small" v-model="domain.cgrl" placeholder="储罐容量(m³)"></el-input-number>
											</el-col>
											<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
										</el-row>
										<el-row class="tr mt5">
											<el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">
												<el-label class="mr5 vbm">工作压力</el-label>
											</el-col>
											<el-col :xs="5" :sm="5" :md="5" :lg="5" :xl="5">
												<el-input maxlength="30" size="small" v-model="domain.gzyl" placeholder="工作压力"></el-input>
											</el-col>
											<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
												<el-label class="mr5 vbm">储罐高度(m)</el-label>
											</el-col>
											<el-col :xs="5" :sm="5" :md="5" :lg="5" :xl="5">
												<el-input-number  :min="0" :max="99999999.99" :precision="2" size="small" v-model="domain.cggd" placeholder="储罐高度(m)"></el-input-number>
											</el-col>
											<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
												<el-label class="mr5 vbm">储罐周长(m)</el-label>
											</el-col>
											<el-col :xs="5" :sm="5" :md="5" :lg="5" :xl="5">
												<el-input-number  :min="0" :max="9999999999.99" :precision="2" size="small" v-model="domain.cgzc" placeholder="储罐周长(m)"></el-input-number>
											</el-col>
											<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
										</el-row>
										<el-row class="tr mt5">
											<el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">
												<el-label class="mr5 vbm">存储温度</el-label>
											</el-col>
											<el-col :xs="5" :sm="5" :md="5" :lg="5" :xl="5">
												<el-input maxlength="30" size="small" v-model="domain.ccwd" placeholder="存储温度"></el-input>
											</el-col>
											<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
												<el-label class="mr5 vbm">储罐直径(m)</el-label>
											</el-col>
											<el-col :xs="5" :sm="5" :md="5" :lg="5" :xl="5">
												<el-input-number  :min="0" :max="99999999.99" :precision="2" size="small" v-model="domain.cgzj" placeholder="储罐直径(m)"></el-input-number>
											</el-col>
											<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
												<el-label class="mr5 vbm">灌顶面积(㎡)</el-label>
											</el-col>
											<el-col :xs="5" :sm="5" :md="5" :lg="5" :xl="5">
												<el-input-number  :min="0" :max="99999999.99" :precision="2" size="small" v-model="domain.gdmj" placeholder="灌顶面积(㎡)"></el-input-number>
											</el-col>
											<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
										</el-row>

										<el-row style="border-bottom: 1px solid #d1dbe5;line-height: 29px;" class="mt5">
											<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
												<strong>存储介质信息</strong>
											</el-col>
										</el-row>
										<el-row class="tr mt5">
											<el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">
												<el-label class="mr5 vbm">介质名称</el-label>
											</el-col>
											<el-col :xs="5" :sm="5" :md="5" :lg="5" :xl="5">
												<el-input  maxlength="50" size="small" v-model="domain.ccjzmc" placeholder="存储介质名称"></el-input>
											</el-col>

											<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
												<el-label class="mr5 vbm">液位高度(m)</el-label>
											</el-col>
											<el-col :xs="5" :sm="5" :md="5" :lg="5" :xl="5">
												<el-input-number  :min="0" :max="999.99" class="mt3" :precision="2" size="small" v-model="domain.ccjzywgd" placeholder="存储机制液位高度(m)"></el-input-number>
											</el-col>
											<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
												<el-label class="mr5 vbm">实际储量(m³)</el-label>
											</el-col>
											<el-col :xs="5" :sm="5" :md="5" :lg="5" :xl="5">
												<el-input-number :min="0" :max="99999999.99" class="mt3" :precision="2" size="small" v-model="domain.ccjzsjcl" placeholder="存储介质实际储量(m³)"></el-input-number>
											</el-col>
											<el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
										</el-row>
										<el-row class="tr mt5">
											<el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">
												<el-label class="mr5 vbm">理化性质</el-label>
											</el-col>
											<el-col :xs="21" :sm="21" :md="21" :lg="21" :xl="21">
												<el-input  maxlength="200" class="mt_4" size="small" v-model="domain.ccjzlhxz" placeholder="存储介质理化性质"></el-input>
											</el-col>
										</el-row>
										<el-row class="tr mt5">
											<el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">
												<el-label class="mr5 vbm">备注</el-label>
											</el-col>
											<el-col :xs="21" :sm="21" :md="21" :lg="21" :xl="21">
												<el-input maxlength="9" size="small" v-model="domain.bz" placeholder="备注" type="textarea" :autosize="{ minRows: 1, maxRows: 4}"></el-input>
											</el-col>
										</el-row>
									</el-card>
								</el-form-item>
							</el-form>

						</div>

						<el-row class="mb5 row-edit-subtitle">
							<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
								<strong class="col-edit-subtitle">备注</strong>
							</el-col>
						</el-row>
						<el-row class="tr mb5">
							<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
								<el-label class="mr5 vbm">备注</el-label>
							</el-col>
							<el-col :xs="20" :sm="20" :md="20" :lg="20" :xl="20">
								<el-input  maxlength="9" size="small" v-model="editForm.bz" placeholder="备注" type="textarea" :autosize="{ minRows: 2, maxRows: 4}"></el-input>
							</el-col>
						</el-row>
					</el-form>
				</div>
				<el-row class="mt35 mb20">
					<el-row>
						<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24" class="editform-button">
							<el-button type="clear" icon="close" size="small" class="btn_submit" @click="cancel"> 取消</el-button>
							<el-button type="success" icon="check" size="small" class="btn_save" @click="save('editForm')">保存</el-button>
						</el-col>
					</el-row>
				</el-row>
			</div>
		</div>
	</div>
</body>
<script src="../../static/js/buildingzoning/buildingzoning_edit.js"></script>

</html>